.flows.json.backup
[{"id":"a4de2d4a.3a835","type":"tab","label":"Ping 11 sites","disabled":false,"info":""},{"id":"19f09f55.ffe791","type":"tab","label":"Simple Hubitat Example","disabled":false,"info":""},{"id":"ba419a6a.959718","type":"tab","label":"Echo Options","disabled":false,"info":""},{"id":"6d8b559d.06774c","type":"tab","label":"Harmony","disabled":false,"info":""},{"id":"fae21b1.b95d4e8","type":"tab","label":"Upstairs Flash","disabled":false,"info":""},{"id":"2fbd0a9c.00e236","type":"tab","label":"Thermostat Bad Icons","disabled":false,"info":""},{"id":"230e9a07.1833b6","type":"tab","label":"MQTT and Time","disabled":false,"info":""},{"id":"e085806.699538","type":"tab","label":"Hubitat Timing Testing","disabled":false,"info":""},{"id":"6b70908d.81178","type":"tab","label":"MQTT Basic","disabled":false,"info":""},{"id":"fe71a936.143488","type":"tab","label":"Example of Homebridge and MQTT","disabled":false,"info":""},{"id":"b4c51043.d4017","type":"tab","label":"HB example","disabled":false,"info":""},{"id":"db3a486d.c20478","type":"subflow","name":"Dimmer Settings","info":"","category":"","in":[{"x":400,"y":80,"wires":[{"id":"f2650446.2a56d8"}]}],"out":[{"x":620,"y":80,"wires":[{"id":"f2650446.2a56d8","port":0}]}],"env":[{"name":"Step","type":"num","value":"30"}],"color":"#3FADB5","icon":"node-red/cog.svg"},{"id":"250ecbce.340264","type":"subflow","name":"Read Spreadsheet For Details","info":"","category":"","in":[{"x":40,"y":20,"wires":[{"id":"7115886d.01af18"}]}],"out":[{"x":960,"y":60,"wires":[{"id":"33cf6aac.eabb16","port":0}]},{"x":960,"y":140,"wires":[{"id":"d91779c2.896ea8","port":0}]},{"x":960,"y":220,"wires":[{"id":"46c25d0f.563a44","port":0}]},{"x":960,"y":300,"wires":[{"id":"893d102e.47b92","port":0}]},{"x":960,"y":380,"wires":[{"id":"c62b3213.e206a","port":0}]},{"x":960,"y":460,"wires":[{"id":"c9c7210d.d881f","port":0}]},{"x":960,"y":540,"wires":[{"id":"9cabee41.a056b","port":0}]},{"x":960,"y":620,"wires":[{"id":"be5dfe12.c99f2","port":0}]}],"env":[{"name":"Spreadsheet ID","type":"str","value":"","ui":{"icon":"font-awesome/fa-file-excel-o","type":"input","opts":{"types":["str"]},"label":{}}},{"name":"TabName","type":"str","value":"","ui":{"icon":"font-awesome/fa-table","label":{"en-US":"Tab"},"type":"input","opts":{"types":["str"]}}},{"name":"ColStart","type":"str","value":"A","ui":{"icon":"font-awesome/fa-columns","type":"input","opts":{"types":["str"]},"label":{}}},{"name":"ColEnd","type":"str","value":"Z","ui":{"icon":"font-awesome/fa-columns","type":"input","opts":{"types":["str"]},"label":{}}},{"name":"MinRow","type":"num","value":"1","ui":{"icon":"font-awesome/fa-window-minimize","type":"input","opts":{"types":["num"]},"label":{}}},{"name":"MaxRow","type":"num","value":"1000","ui":{"icon":"font-awesome/fa-window-maximize","type":"input","opts":{"types":["num"]},"label":{}}},{"name":"OverrideEnvVariables","type":"bool","value":"false"}],"color":"#A6BBCF","outputLabels":["Error","Last Populated Row","First Empty Row","Last Populated Column","First Empty Column","Spreadsheet Array","Full Data","Full Data with Inputs"],"icon":"font-awesome/fa-file-excel-o"},{"id":"711cdb94.5b9a04","type":"subflow","name":"Decide Quality of Ping","info":"","category":"","in":[{"x":40,"y":100,"wires":[{"id":"5117f3ab.9484cc"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"76e3605b.0e6e7","type":"subflow","name":"Process Ping Results","info":"","category":"","in":[{"x":20,"y":140,"wires":[{"id":"7c6b7df4.a02714"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"a26635c4.6027a8","type":"hubitat config","z":"","name":"Main Hubitat","usetls":false,"host":"192.168.86.110","port":"80","token":"79eb990f-05f6-4f92-b9ee-ff39db572caf","appId":"646","nodeRedServer":"http://192.168.86.1:1980","webhookPath":"/hubitat/webhook"},{"id":"bb5b26fe.1fc278","type":"gauth","z":""},{"id":"2f23f49.924a10c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Mike's ProductionNode-RED Dashboard","hideToolbar":"true","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3ce7ceed.69be02","type":"homekit-bridge","z":"","bridgeName":"Mike","pinCode":"121-01-707","port":"","allowInsecureRequest":false,"manufacturer":"TMS Industries","model":"1","serialNo":"1","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true,"allowMessagePassthrough":true},{"id":"c114fe92.abb34","type":"hubitat config","z":"","name":"Main Hub","usetls":false,"host":"192.168.86.110","port":"80","token":"05d69f67-5688-48cd-a0e0-28aff4cdb48e","appId":"674","nodeRedServer":"http://192.168.86.3:1881","webhookPath":"/hubitat/webhook2"},{"id":"ccfa4a62.450f58","type":"harmonyws-server","z":"","name":"Living Room Hub","ip":"192.168.86.102","debug":true},{"id":"49ec1688.bb5d58","type":"ui_group","z":"","name":"Stat","tab":"8cdb6014.0e216","disp":false,"width":"6"},{"id":"8cdb6014.0e216","type":"ui_tab","z":"","name":"Stat","icon":"dashboard"},{"id":"df826a35.8b79b8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a5bf81ee.27852","type":"mqtt-broker","z":"","name":"MQTT Docker","broker":"192.168.86.3","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d417815c.8097e","type":"hb-conf","z":"","username":"121-01-707"},{"id":"adb4e9b8.8beee8","type":"gauth","z":""},{"id":"f2650446.2a56d8","type":"function","z":"db3a486d.c20478","name":"Step","func":"var x = env.get(\"Step\"); \nflow.set(\"$parent.Step\", x);\n\nmsg.payload = \"Your brightness increment has been set to: \" + x;\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":80,"wires":[[]]},{"id":"7115886d.01af18","type":"function","z":"250ecbce.340264","name":"Set Read Col","func":"//Read subflow input variables\nif (env.get(\"OverrideEnvVariables\")){\n    //Put inputs and read values into msg properties to be visible downstream\n    msg.sheet = msg.SpreadsheetID;\n    msg.tab = msg.Tab;\n    msg.cellstart = msg.ColStart + msg.MinRow;\n    msg.cellend = msg.ColEnd + msg.MaxRow;\n    msg.targetrange = msg.tab+\"!\"+msg.cellstart+\":\"+msg.cellend\n    msg.topic = msg.targetrange\n    delete msg.Tab\n    delete msg.SpreadsheetID\n    delete msg.ColStart\n    delete msg.ColEnd\n    delete msg.MinRow\n    delete msg.MaxRow\n    delete msg.IgnoreEnvVar\n}else if (msg.IgnoreEnvVar) {\n    //Put inputs and read values into msg properties to be visible downstream\n    msg.sheet = msg.SpreadsheetID;\n    msg.tab = msg.Tab;\n    msg.cellstart = msg.ColStart + msg.MinRow;\n    msg.cellend = msg.ColEnd + msg.MaxRow;\n    msg.targetrange = msg.tab+\"!\"+msg.cellstart+\":\"+msg.cellend\n    msg.topic = msg.targetrange\n    delete msg.Tab\n    delete msg.SpreadsheetID\n    delete msg.ColStart\n    delete msg.ColEnd\n    delete msg.MinRow\n    delete msg.MaxRow\n    delete msg.IgnoreEnvVar\n}else{\n    var ColStart = env.get(\"ColStart\");\n    var ColEnd = env.get(\"ColEnd\");\n    var FirstRow = env.get(\"MinRow\");\n    var LastRow = env.get(\"MaxRow\");\n    //Put inputs and read values into msg properties to be visible downstream\n    msg.sheet = env.get(\"Spreadsheet ID\");\n    msg.tab = env.get(\"TabName\");\n    msg.cellstart = ColStart + FirstRow\n    msg.cellend = ColEnd + LastRow\n    msg.targetrange = msg.tab+\"!\"+msg.cellstart+\":\"+msg.cellend\n    msg.topic = msg.targetrange\n}\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":20,"wires":[["f19af657.19fe88","cdae2d80.8d615"]]},{"id":"f19af657.19fe88","type":"GSheet","z":"250ecbce.340264","creds":"bb5b26fe.1fc278","method":"get","action":"","sheet":"","cells":"","name":"Read Input from GSheet","x":410,"y":20,"wires":[["b11f8aff.9aee68"]]},{"id":"8740490b.77e458","type":"comment","z":"250ecbce.340264","name":"Error","info":"","x":990,"y":20,"wires":[]},{"id":"6af56d08.1ec794","type":"comment","z":"250ecbce.340264","name":"Last Populated Row","info":"","x":1030,"y":100,"wires":[]},{"id":"be5dfe12.c99f2","type":"function","z":"250ecbce.340264","name":"Work In Progress","func":"\n/*\n * Actual good responses\n */\nmsg.LastPopulatedRow = msg.payload.length + env.get(\"MinRow\") - 1\nmsg.FirstEmptyRow = msg.LastPopulatedRow + 1\n/*\n * Placeholder/Fake Testing variables\n */\nvar colCount = 1 //number of columns wide from the data retrieved. This will eventually be replace by logic that loops through array find the max width for any given row\nvar sheetdata = msg.payload //this is the data that is returned from Google that will then be examined\n\n\n// Deletable msg.arraysize = msg.payload.length\nfor (index = 0; index < sheetdata.length; index++) {\n    if (Array.isArray(sheetdata[index])){\n        colCount = Math.max(colCount, sheetdata[index].length)\n        // Deletable msg.arrayfound = sheetdata[index].length\n    }\n    // Deletable msg.arrayfound = sheetdata[1].length\n} \n//deletable var fCol = \"aa\" // Test input column that will later be removed leaving in place\n/*\n *Column response calculation variables\n */\nvar fCol = env.get(\"ColStart\")\nvar fColTotal = 0 //to hold the column number\nvar nCol = \"\"   //nCol is new column\nvar lCol = \"\"   //lCol is last column in the range (to be populated from the actual Gsheet calls data)\n// Deletable var fCharFCol = fCol.charCodeAt(fCol.length - 1)   // fCharFCol is the final character of the first column in the range  \n// Deletable var fCol = env.get(\"ColStart\")     //fCol is the first column moved into a shorter local variable \n// Deletable var fColNum = fCol.charCodeAt(fCol.length - 1) //thecchar number of the last character of the column\n// Deletable var replacementNum = fColNum + colCount - 1 //the char of the replacement letter that will turn the first populated column in to the last column\n// Deletable var excess = 0 //this will be used to figure out how far beyond the Z or z the char num is\nfCol = fCol.toUpperCase()\n\n/*\n * validate fCol (done)\n */\nvar validStartCol = false\nvalidStartCol = ((fCol.length == 1) ||\n                ((fCol.substr(0, 1).charCodeAt(0) - 64) < 9) ||\n                (((fCol.substr(0, 1).charCodeAt(0) - 64) == 9) && ((fCol.substr(1, 1).charCodeAt(0) - 64) <= 22)))\n/*\n *Column response calculations\n */\nswitch (fCol.length) {\n    case 1:\n        fColTotal = (fCol.substr(0, 1).charCodeAt(0) - 64)\n        fColTotal += colCount - 1\n        break\n    case 2:\n        fColTotal = (fCol.substr(1, 1).charCodeAt(0) - 64) + 26 * (fCol.substr(0, 1).charCodeAt(0) - 64)\n        fColTotal += colCount - 1\n        break\n    default:\n        fColTotal = -1\n}\n//Last Populated Column and First Empty Column calculation\nif ((fColTotal <= 25) && (fColTotal >= 1)) {\n    lCol = String.fromCharCode(fColTotal+64)\n    nCol = String.fromCharCode(fColTotal+65)\n} else if (fColTotal == 26) {\n    lCol = \"Z\"\n    nCol = \"AA\"\n} else if (fColTotal >= 27) {\n    lCol = String.fromCharCode((Math.floor(fColTotal / 26)) + 64) + String.fromCharCode((fColTotal % 26) + 64)\n    nCol = String.fromCharCode((Math.floor(fColTotal / 26)) + 64) + String.fromCharCode((fColTotal % 26) + 65)\n} else if (fColTotal == -1) {\n    lCol = \"Error\"\n    nCol = \"Error\"\n    //Probably worth putting real error here, but deferred\n} else if (fColTotal == 256) {\n    lCol = \"IV\"\n    nCol = \"None\"\n}\nmsg.LastPopulatedCol = lCol\nmsg.FirstEmptyCol = nCol\nmsg.SpreadsheetArray = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":560,"wires":[["9cabee41.a056b","d91779c2.896ea8","46c25d0f.563a44","893d102e.47b92","c62b3213.e206a","c9c7210d.d881f"]]},{"id":"95b7965d.e4b428","type":"comment","z":"250ecbce.340264","name":"First Empty Row","info":"","x":1020,"y":180,"wires":[]},{"id":"a57014a2.3e04b8","type":"comment","z":"250ecbce.340264","name":"Last Populated Column","info":"","x":1040,"y":260,"wires":[]},{"id":"485298fb.4f6858","type":"comment","z":"250ecbce.340264","name":"First Empty Column","info":"","x":1030,"y":340,"wires":[]},{"id":"a7b5845f.22c4d8","type":"comment","z":"250ecbce.340264","name":"Spreadsheet Array","info":"","x":1030,"y":420,"wires":[]},{"id":"17f3bcf9.9a03e3","type":"comment","z":"250ecbce.340264","name":"Full Data","info":"","x":1000,"y":500,"wires":[]},{"id":"ad16bbb.aa68a48","type":"comment","z":"250ecbce.340264","name":"Full Data with Inputs","info":"","x":1030,"y":580,"wires":[]},{"id":"9cabee41.a056b","type":"change","z":"250ecbce.340264","name":"Leave Outputs","rules":[{"t":"delete","p":"topic","pt":"msg"},{"t":"delete","p":"tab","pt":"msg"},{"t":"delete","p":"sheet","pt":"msg"},{"t":"delete","p":"cellstart","pt":"msg"},{"t":"delete","p":"cellend","pt":"msg"},{"t":"delete","p":"targetrange","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":540,"wires":[[]]},{"id":"d91779c2.896ea8","type":"change","z":"250ecbce.340264","name":"Leave Last Populated Row","rules":[{"t":"delete","p":"topic","pt":"msg"},{"t":"delete","p":"tab","pt":"msg"},{"t":"delete","p":"sheet","pt":"msg"},{"t":"delete","p":"cellstart","pt":"msg"},{"t":"delete","p":"cellend","pt":"msg"},{"t":"delete","p":"targetrange","pt":"msg"},{"t":"delete","p":"FirstEmptyRow","pt":"msg"},{"t":"delete","p":"LastPopulatedCol","pt":"msg"},{"t":"delete","p":"FirstEmptyCol","pt":"msg"},{"t":"delete","p":"SpreadsheetArray","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"LastPopulatedRow","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":140,"wires":[[]]},{"id":"46c25d0f.563a44","type":"change","z":"250ecbce.340264","name":"Leave First Empty Row","rules":[{"t":"delete","p":"topic","pt":"msg"},{"t":"delete","p":"tab","pt":"msg"},{"t":"delete","p":"sheet","pt":"msg"},{"t":"delete","p":"cellstart","pt":"msg"},{"t":"delete","p":"cellend","pt":"msg"},{"t":"delete","p":"targetrange","pt":"msg"},{"t":"delete","p":"LastPopulatedRow","pt":"msg"},{"t":"delete","p":"LastPopulatedCol","pt":"msg"},{"t":"delete","p":"FirstEmptyCol","pt":"msg"},{"t":"delete","p":"SpreadsheetArray","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"FirstEmptyRow","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":220,"wires":[[]]},{"id":"893d102e.47b92","type":"change","z":"250ecbce.340264","name":"Leave Last Populated Column","rules":[{"t":"delete","p":"topic","pt":"msg"},{"t":"delete","p":"tab","pt":"msg"},{"t":"delete","p":"sheet","pt":"msg"},{"t":"delete","p":"cellstart","pt":"msg"},{"t":"delete","p":"cellend","pt":"msg"},{"t":"delete","p":"targetrange","pt":"msg"},{"t":"delete","p":"LastPopulatedRow","pt":"msg"},{"t":"delete","p":"FirstEmptyRow","pt":"msg"},{"t":"delete","p":"FirstEmptyCol","pt":"msg"},{"t":"delete","p":"SpreadsheetArray","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"LastPopulatedCol","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":300,"wires":[[]]},{"id":"c62b3213.e206a","type":"change","z":"250ecbce.340264","name":"Leave First Empty Column","rules":[{"t":"delete","p":"topic","pt":"msg"},{"t":"delete","p":"tab","pt":"msg"},{"t":"delete","p":"sheet","pt":"msg"},{"t":"delete","p":"cellstart","pt":"msg"},{"t":"delete","p":"cellend","pt":"msg"},{"t":"delete","p":"targetrange","pt":"msg"},{"t":"delete","p":"LastPopulatedRow","pt":"msg"},{"t":"delete","p":"FirstEmptyRow","pt":"msg"},{"t":"delete","p":"LastPopulatedCol","pt":"msg"},{"t":"delete","p":"SpreadsheetArray","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"FirstEmptyCol","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":380,"wires":[[]]},{"id":"c9c7210d.d881f","type":"change","z":"250ecbce.340264","name":"Leave Spreadsheet Array","rules":[{"t":"delete","p":"topic","pt":"msg"},{"t":"delete","p":"tab","pt":"msg"},{"t":"delete","p":"sheet","pt":"msg"},{"t":"delete","p":"cellstart","pt":"msg"},{"t":"delete","p":"cellend","pt":"msg"},{"t":"delete","p":"targetrange","pt":"msg"},{"t":"delete","p":"LastPopulatedRow","pt":"msg"},{"t":"delete","p":"FirstEmptyRow","pt":"msg"},{"t":"delete","p":"LastPopulatedCol","pt":"msg"},{"t":"delete","p":"FirstEmptyCol","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"SpreadsheetArray","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":460,"wires":[[]]},{"id":"b11f8aff.9aee68","type":"function","z":"250ecbce.340264","name":"Cancel Timeout?","func":"msg.reset = true\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":140,"wires":[["fa582a24.4565e8","eb587bd4.e05c58"]]},{"id":"fa582a24.4565e8","type":"trigger","z":"250ecbce.340264","op1":"","op2":"timeout","op1type":"nul","op2type":"str","duration":"10","extend":true,"units":"s","reset":"","bytopic":"all","name":"Watchdog","x":480,"y":140,"wires":[["893d102e.47b92","d91779c2.896ea8","c62b3213.e206a","c9c7210d.d881f","9cabee41.a056b"]]},{"id":"cdae2d80.8d615","type":"change","z":"250ecbce.340264","name":"","rules":[{"t":"set","p":"timeout","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":100,"wires":[["fa582a24.4565e8"]]},{"id":"eb587bd4.e05c58","type":"change","z":"250ecbce.340264","name":"","rules":[{"t":"delete","p":"reset","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":500,"wires":[["be5dfe12.c99f2"]]},{"id":"33cf6aac.eabb16","type":"catch","z":"250ecbce.340264","name":"Catch and Relay Errors","scope":null,"uncaught":false,"x":760,"y":60,"wires":[[]]},{"id":"d959ea88.f67ff8","type":"function","z":"a4de2d4a.3a835","name":"Start currentNum","func":"//flow.set(\"currentNum\", flow.get(\"currentNum\") || flow.get(\"startNum\") )\n//flow.set(\"currentNum\", 0)\nmsg.payload = flow.get(\"currentNum\")\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":100,"wires":[["a4961ff0.d84a3"]]},{"id":"7b3c0ce6.5f70b4","type":"adv ping","z":"a4de2d4a.3a835","name":"Ping the passed Host","host":"","x":400,"y":280,"wires":[["88c59e55.f21a1"]]},{"id":"f9ce45cd.70d568","type":"rbe","z":"76e3605b.0e6e7","name":"Changing Ping?","func":"rbe","gap":"","start":"","inout":"out","property":"PingStatus","x":860,"y":100,"wires":[["23c83a68.f57316"]]},{"id":"3986a0e6.786ef","type":"inject","z":"a4de2d4a.3a835","name":"Turn Off Pinging","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":180,"wires":[["a4961ff0.d84a3"]]},{"id":"4d4fe092.d24b8","type":"inject","z":"a4de2d4a.3a835","name":"Start Pinging","topic":"","payload":"Ping","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"0","x":110,"y":100,"wires":[["d959ea88.f67ff8"]]},{"id":"e60c23b5.d2e3","type":"config","z":"a4de2d4a.3a835","name":"Config ping targets","properties":[{"p":"PT1Name","pt":"flow","to":"Central Services","tot":"str"},{"p":"PT1","pt":"flow","to":"192.168.86.3","tot":"str"},{"p":"PT2Name","pt":"flow","to":"Google Wifi","tot":"str"},{"p":"PT2","pt":"flow","to":"192.168.86.1","tot":"str"},{"p":"PT3Name","pt":"flow","to":"Emby","tot":"str"},{"p":"PT3","pt":"flow","to":"192.168.86.2","tot":"str"},{"p":"PT4Name","pt":"flow","to":"Lennox Themostat","tot":"str"},{"p":"PT4","pt":"flow","to":"192.168.86.101","tot":"str"},{"p":"PT5Name","pt":"flow","to":"AT&T router ","tot":"str"},{"p":"PT5","pt":"flow","to":"192.168.1.254","tot":"str"},{"p":"PT6Name","pt":"flow","to":"Cloudflare ","tot":"str"},{"p":"PT6","pt":"flow","to":"1.1.1.1","tot":"str"},{"p":"PT7Name","pt":"flow","to":"Level 3","tot":"str"},{"p":"PT7","pt":"flow","to":"4.2.2.2","tot":"str"},{"p":"PT8Name","pt":"flow","to":"Google","tot":"str"},{"p":"PT8","pt":"flow","to":"8.8.8.8","tot":"str"},{"p":"PT9Name","pt":"flow","to":"OpenDNS","tot":"str"},{"p":"PT9","pt":"flow","to":"208.67.222.222","tot":"str"},{"p":"PT10Name","pt":"flow","to":"dfw25 (near google hosted)","tot":"str"},{"p":"PT10","pt":"flow","to":"172.217.9.147","tot":"str"},{"p":"PT11Name","pt":"flow","to":"ghs.googlehosted.com","tot":"str"},{"p":"PT11","pt":"flow","to":"172.217.9.147","tot":"str"},{"p":"startNum","pt":"flow","to":"1","tot":"str"},{"p":"totalNum","pt":"flow","to":"11","tot":"str"},{"p":"currentNum","pt":"flow","to":"","tot":"str"}],"active":true,"x":150,"y":580,"wires":[],"info":" * CS 192.168.86.3\r\n * G Wifi 192.168.86.1\r\n * Emby laptop 192.168.86.2\r\n * Lennox 192.168.86.101\r\n * ATT router 192.168.1.254\r\n * Cloudflare 1.1.1.1\r\n * Level 3 4.2.2.2\r\n * Google 8.8.8.8\r\n * OpenDNS 208.67.222.222\r\n * dfw25s26-in-f19.1e100.net 172.217.9.147\r\n * ghs.googlehosted.com 172.217.9.147\r\n * "},{"id":"2e563cc3.a1d5a4","type":"function","z":"a4de2d4a.3a835","name":"Start currentNum","func":"if (flow.get(\"currentNum\") == flow.get(\"totalNum\")){\n    flow.set(\"currentNum\", flow.get(\"startNum\"))\n}else {\n    flow.set(\"currentNum\", Number(flow.get(\"currentNum\"))+1)\n}\nmsg.host = flow.get(\"PT\"+flow.get(\"currentNum\"))\nmsg.payload = flow.get(\"currentNum\")\n//node.status({fill:\"green\",shape:\"dot\",text:\"Ping \"+ flow.get(\"PT\"+flow.get(\"currentNum\")+\"Name\")});\nmsg.pingtarget = flow.get(\"PT\"+flow.get(\"currentNum\")+\"Name\")\nmsg.pingtargetnum = flow.get(\"currentNum\")\nmsg.goodbad = flow.get(\"GoodBadPT\"+flow.get(\"currentNum\"))\nmsg.internettarget = flow.get(\"InternetPT\"+flow.get(\"currentNum\"))\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":220,"wires":[["7b3c0ce6.5f70b4"]]},{"id":"a4961ff0.d84a3","type":"trigger","z":"a4de2d4a.3a835","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"-1","extend":false,"units":"s","reset":"stop","bytopic":"all","name":"Send request every 1s","x":340,"y":160,"wires":[["2e563cc3.a1d5a4"]]},{"id":"88c59e55.f21a1","type":"subflow:711cdb94.5b9a04","z":"a4de2d4a.3a835","name":"","env":[],"x":740,"y":280,"wires":[]},{"id":"54bcf469.64fc1c","type":"file","z":"76e3605b.0e6e7","name":"Append to NetUpPerpetual","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":940,"y":220,"wires":[[]]},{"id":"800cd2f0.7e6fc","type":"simpletime","z":"76e3605b.0e6e7","name":"Populate Time Messages","x":150,"y":240,"wires":[["2224f154.3db68e"]]},{"id":"2224f154.3db68e","type":"change","z":"76e3605b.0e6e7","name":"Create Log Start line with Formated Date","rules":[{"t":"set","p":"payload","pt":"msg","to":"myyear\t&\"-\"&\tmymonthn\t&\"-\"&\tmydom\t&\" \"&\tmyhourpm\t&\":\"&\tmyminute\t&\":\"&\tmysecond\t&\".\"&\tmymillis\t&\" \"&\tmypm\t&\"          Log Start\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":240,"wires":[["54bcf469.64fc1c","b832f02e.6f68d"]]},{"id":"7b2187a9.5139d8","type":"change","z":"76e3605b.0e6e7","name":"Get dir/file destination from Flow context","rules":[{"t":"set","p":"filename","pt":"msg","to":"$flowContext('OutputDirectory') &\tpingtarget & \".txt\"","tot":"jsonata"},{"t":"set","p":"pingtime","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":140,"wires":[["833fda41.17b198","41c7aa38.91a0b4"]]},{"id":"f1a77239.f0493","type":"comment","z":"76e3605b.0e6e7","name":"JSONata Flow context","info":"myyear&\"-\"&mymonthn&\"-\"&mydom&\" \"&myhourpm &\":\"&myminute&\":\"&mysecond&\n\".\"&mymillis\n","x":500,"y":100,"wires":[]},{"id":"38e74b76.ec65d4","type":"change","z":"76e3605b.0e6e7","name":"Failure Start time","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":960,"wires":[["b89a96f9.f64b88","f6326890.3b8ae8","148d89ae.8a8376"]]},{"id":"c2fdf835.927178","type":"change","z":"76e3605b.0e6e7","name":"Failure End time","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1000,"wires":[["b89a96f9.f64b88"]]},{"id":"6b07ffa.4eb28","type":"calculator","z":"76e3605b.0e6e7","name":"Calculate the difference","inputMsgField":"payload","outputMsgField":"payload","operation":"sub","constant":"","x":610,"y":1040,"wires":[["94dfb9b5.59e1a8"]]},{"id":"b89a96f9.f64b88","type":"join","z":"76e3605b.0e6e7","name":"Get start and end times","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":170,"y":1040,"wires":[["6b07ffa.4eb28"]]},{"id":"f6326890.3b8ae8","type":"delay","z":"76e3605b.0e6e7","name":"","pauseType":"random","timeout":"1300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"milliseconds","drop":false,"x":400,"y":1000,"wires":[["c2fdf835.927178"]]},{"id":"94dfb9b5.59e1a8","type":"calculator","z":"76e3605b.0e6e7","name":"Multiply by -1 to get positive duration","inputMsgField":"payload","outputMsgField":"payload","operation":"mult","constant":"-1","x":210,"y":1080,"wires":[["2ea97499.5a805c"]]},{"id":"2ea97499.5a805c","type":"function","z":"76e3605b.0e6e7","name":"Translate Duration Function","func":"/* \n * Create Variables\n * \n */\n        var milliseconds = msg.payload;\n        var years, weeks, days, hours, minutes, seconds, millis;\n    //creating 2 string versions of each of the durations that can be in the middle of a 1:01:01.001 duration \n    //minstr is the always 2 character one\n    //lminstr is the version that can be 1 or more characers that will be used when that part is the portion of the duration\n        var minstr, secstr, millistr, lminstr, lsecstr, lmillistr;\n        var whichcomponents, readableduration;\n\n/*\n * Calculate the numbers for the subcomponents\n * \n */\n    //by getting the remainder when dividing by 1000\n    //it leaves just the fraction of milliseconds\n        millis = milliseconds % 1000;\n    //the floor function drops the decimal portion\n    //returning the non fractional seconds\n        seconds = Math.floor(milliseconds / 1000);\n    //the floor function drops the decimal portion\n    //returning the non fractional minutes\n        minutes = Math.floor(seconds / 60);\n    //Once the minutes have been calculated, then\n    //the seconds is replaced with those seconds not\n    //accounted for by the minutes\n        seconds = seconds % 60;\n    //The same sequence as used for minutes/seconds\n    //then used to calulate minutes, hours, dayss, weeks, years\n\n        hours = Math.floor(minutes / 60);\n        minutes = minutes % 60;\n        days = Math.floor(hours / 24);\n        hours = hours % 24;\n        weeks = Math.floor(days / 7)\n        days = days % 7;\n        years = Math.floor(days / 365.25)\n        weeks = weeks % 52;\n\n/*\n * Put the subcomponents into msg payloads for easy access by later nodes\n *\n */\n        msg.years = years\n        msg.weeks = weeks\n        msg.days = days\n        msg.hours = hours\n        msg.minutes = minutes\n        msg.seconds = seconds\n        msg.millis = millis\n \n\n/*\n * create the string verssion for the subcomponents\n */\n    //milliseconds\n        lmillistr = millis.toString();\n        //put padding on the milliseconds so that 1 ms shows as .001 and not .1 when concatenated after a decimal\n            millistr = millis.toString().padStart(3, \"0\");\n    //seconds\n        lsecstr = seconds.toString();\n        //put padding on the seconds so that 1 s shows as :01.000 and not :1.000 when concatenated after a dividing :\n            secstr = lsecstr.padStart(2, \"0\");\n    //minutes\n        lminstr = minutes.toString();\n        //put padding on the minutes so that 1 m shows as :01:00.000 and not :1:00.000 when concatenated after a dividing :\n            minstr = lminstr.padStart(2, \"0\");\n\n/*\n * Build output based on largest significant populated unit\n * The general rule is to include in the output the largest unit (years, weeks, days, etc) followed by the next 2\n * smaller units if the happen to be populated\n */\n    readableduration =\"\"\n//years populated\n    if (years !== 0) { \n        if (days !== 0) {\n            if (days === 1) {\n                readableduration = \" \".concat(days.toString(), \" Day\", readableduration)\n            } else {\n                readableduration = \" \".concat(days.toString(), \" Days\", readableduration)\n            }\n        }\n        if (weeks !== 0) {\n            if (weeks === 1) {\n                readableduration = \" \".concat(weeks.toString(), \" Week\", readableduration)\n            } else {\n                readableduration = \" \".concat(weeks.toString(), \" Weeks\", readableduration)\n            }\n        }\n        if (years === 1) {\n            readableduration = years.toString().concat(\" Year\", readableduration)\n        } else {\n            readableduration = years.toString().concat(\" Years\", readableduration)\n        }\n//weeks populated\n    } else if (weeks !== 0) {\n        if (hours !== 0) {\n            if (hours === 1) {\n                readableduration = \" \".concat(hours.toString(), \" Hour\", readableduration)\n            } else {\n                readableduration = \" \".concat(hours.toString(), \" Hours\", readableduration)\n            }\n        }\n        if (days !== 0) {\n            if (weeks === 1) {\n                readableduration = \" \".concat(days.toString(), \" Day\", readableduration)\n            } else {\n                readableduration = \" \".concat(days.toString(), \" Days\", readableduration)\n            }\n        }\n        if (weeks === 1) {\n            readableduration = weeks.toString().concat(\" Week\", readableduration)\n        } else {\n            readableduration = weeks.toString().concat(\" Weeks\", readableduration)\n        }\n//days populated\n    } else if (days !== 0) {\n        if ((minutes !== 0) && (hours !== 0)) { //If both are non-zero then 1:01 format. If only 1 then either 2 hours or 1 minute\n            if (minutes !== 0) {\n                readableduration = \":\".concat(minstr, readableduration)\n            }\n            if (hours !== 0) {\n                readableduration = \" \".concat(hours.toString(), readableduration)\n            } else {\n                readableduration = \" 0\".concat(readableduration)\n            }\n        } else {\n            if (minutes === 1) {\n                readableduration = \" 1 Minute\".concat(readableduration)\n            } else if (minutes > 1) {\n                readableduration = \" \".concat(lminstr,\" Minutes\", readableduration)\n            } else if (hours === 1) {\n                readableduration = \" 1 Hour\".concat(readableduration)\n            } else {\n                if (hours >1) {\n                    readableduration = \" \".concat(hours.toString(),\" Hours\", readableduration)\n                }\n            }\n        }\n        if (days === 1) {\n            readableduration = days.toString().concat(\" Day\", readableduration)\n        } else {\n            readableduration = days.toString().concat(\" Days\", readableduration)\n        }\n//hours populated\n    } else if (hours !== 0) {\n        if ((minutes !== 0) || (seconds !== 0)) { //End result h Hours or h:mm:ss\n            readableduration = hours.toString().concat(\":\", minstr, \":\", secstr, readableduration)\n        } else {\n            if (hours === 1) {\n                readableduration = \"1 Hour\"\n            } else {\n                readableduration = hours.toString().concat(\" Hours\", readableduration)\n            }\n        }\n//minutes populated\n    } else if (minutes !== 0) { //End result m Minutes or mm:ss.MMM\n        if (seconds !== 0 || millis !== 0) { //End result h Hours or h:mm:ss\n            readableduration = lminstr.concat(\":\", secstr, \".\", millistr, readableduration)\n        } else {\n            if (minutes === 1) {\n                readableduration = \"1 Minute\".concat( readableduration)\n            } else {\n                readableduration = lminstr.concat(\" Minutes\", readableduration)\n            }\n        }\n//seconds populated\n    } else if (seconds !== 0) {\n        if (millis !== 0) { //End result s Seconds or s.MMM\n            readableduration = lsecstr.concat(\".\", millistr, \" Seconds\", readableduration)\n        } else {\n            if (seconds === 1) {\n                readableduration = \"1 Second\".concat( readableduration)\n            } else {\n                readableduration = lsecstr.concat(\" Seconds\", readableduration)\n            }\n        }\n//milliseconds populated\n    } else if (millis !== 0) {\n        if (millis !== 1) {\n            readableduration = lmillistr.concat(\" Milliseconds\", readableduration)\n        } else {\n            readableduration = \"1 Millisecond\".concat( readableduration)\n        }\n    } else {\n        readableduration = \"0\"\n    }\n    msg.years = years\n    msg.weeks = weeks\n    msg.days = days\n    msg.hours = hours\n    msg.minutes = minutes\n    msg.seconds = seconds\n    msg.millis = millis\n    msg.payload = readableduration\n    return msg;","outputs":1,"noerr":0,"x":500,"y":1080,"wires":[["82c9edda.537d7"]]},{"id":"408b8df6.b9b044","type":"join","z":"76e3605b.0e6e7","name":"Join the failure start time with the duration for output","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1070,"y":960,"wires":[[]]},{"id":"82c9edda.537d7","type":"function","z":"76e3605b.0e6e7","name":"Pad the text duration to 24 characters","func":"msg.payload = msg.payload.padStart(24)\nreturn msg;","outputs":1,"noerr":0,"x":801,"y":1080,"wires":[["408b8df6.b9b044"]]},{"id":"148d89ae.8a8376","type":"change","z":"76e3605b.0e6e7","name":"Create Log Start line with Formated Date","rules":[{"t":"set","p":"payload","pt":"msg","to":"myyear\t&\"-\"&\tmymonthn\t&\"-\"&\tmydom\t&\" \"&\tmyhourpm\t&\":\"&\tmyminute\t&\":\"&\tmysecond\t&\".\"&\tmymillis\t&\" \"&\tmypm","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":960,"wires":[["408b8df6.b9b044"]]},{"id":"6e44be2e.917c7","type":"function","z":"76e3605b.0e6e7","name":"Include Ping Time if Successful","func":"if (isNaN(msg.pingtime)) {\n    msg.payload = msg.CurrentTime.padEnd(28,\" \") + msg.PingStatus.padEnd(20, \" \")\n} else {\nmsg.payload = msg.CurrentTime.padEnd(28,\" \") + msg.PingStatus.padEnd(9, \" \") + msg.pingtime.toString().padEnd(11,\" \") + msg.Min.toString().padEnd(11,\" \") + msg.Max.toString().padEnd(11,\" \") + msg.RollingAverage.toString().padEnd(11,\" \")\n}\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":460,"wires":[["54bcf469.64fc1c"]]},{"id":"23c83a68.f57316","type":"simpletime","z":"76e3605b.0e6e7","name":"Populate Time Messages","x":1070,"y":60,"wires":[["8ac84738.ad8f18"]]},{"id":"8ac84738.ad8f18","type":"change","z":"76e3605b.0e6e7","name":"Formated Date for ping log entry","rules":[{"t":"set","p":"CurrentTime","pt":"msg","to":"myyear\t&\"-\"&\tmymonthn\t&\"-\"&\tmydom\t&\" \"&\tmyhourpm\t&\":\"&\tmyminute\t&\":\"&\tmysecond\t&\".\"&\tmymillis\t&\" \"&\tmypm","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":160,"wires":[["6e44be2e.917c7"]]},{"id":"833fda41.17b198","type":"rbe","z":"76e3605b.0e6e7","name":"Only write headers first time process is initiated","func":"rbe","gap":"","start":"","inout":"out","property":"filename","x":220,"y":200,"wires":[["3a6e32fc.4a089e"]]},{"id":"41c7aa38.91a0b4","type":"delay","z":"76e3605b.0e6e7","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":60,"wires":[["f9ce45cd.70d568","48434c5b.387c44","e6f86ef9.f3af6"]]},{"id":"7c6b7df4.a02714","type":"function","z":"76e3605b.0e6e7","name":"Update Flow Results Based on Latest Input","func":"var CurrentCount = flow.get(\"Count\")\nif (!isNaN(msg.payload)) {\n    var next = Number(msg.payload)\n    if (next === 0) {\n    } else {\n        var CurrentAvg = flow.get(\"RollingAverage\")\n        var CurrentMax = flow.get(\"Max\")\n        var CurrentMin = flow.get(\"Min\")\n        var OldMax = CurrentMax\n        var OldMin = CurrentMin\n        if (CurrentCount === 0) {\n            CurrentAvg = next;\n            CurrentMin = next;\n            CurrentMax = next;\n            CurrentCount = CurrentCount + 1\n        } else {\n            oldtotal = CurrentAvg * CurrentCount\n            newtotal = next + oldtotal\n            CurrentCount = CurrentCount + 1\n            CurrentAvg = newtotal / CurrentCount\n            CurrentMax = Math.max(next, CurrentMax)\n            if (CurrentMax != OldMax) {\n                msg.NewMax = true\n            }\n            CurrentMin = Math.min(next, CurrentMin)\n            if (CurrentMin != OldMin) {\n                msg.NewMin = true\n            }\n        }\n        flow.set(\"RollingAverage\", CurrentAvg);\n        flow.set(\"Max\", CurrentMax);\n        flow.set(\"Min\", CurrentMin);\n        flow.set(\"Count\", CurrentCount);\n        msg.next = next\n        msg.RollingAverage = CurrentAvg;\n        msg.Max = CurrentMax;\n        msg.Min = CurrentMin;\n        msg.Count = CurrentCount;\n        return msg;\n    }\n}\n","outputs":1,"noerr":0,"x":230,"y":140,"wires":[["7b2187a9.5139d8"]]},{"id":"b832f02e.6f68d","type":"function","z":"76e3605b.0e6e7","name":"--Divider","func":"var a=\"-\"\na=a.padEnd(81,\"-\")\nmsg.payload = a\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":280,"wires":[["54bcf469.64fc1c","11aeda74.2913e6"]]},{"id":"11aeda74.2913e6","type":"function","z":"76e3605b.0e6e7","name":"Send Header","func":"var a=\"\"\na = a + \"Date\".padEnd(28,\" \")+ \"Status\".padEnd(9,\" \")+ \"Roundtrip\".padEnd(11,\" \")+ \"Min\".padEnd(11,\" \")+ \"Max\".padEnd(11,\" \")+ \"Average\".padEnd(11,\" \")\nmsg.payload = a\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":320,"wires":[["54bcf469.64fc1c"]]},{"id":"3a6e32fc.4a089e","type":"function","z":"76e3605b.0e6e7","name":"===Divider","func":"var a=\"=\"\na=a.padEnd(81,\"=\")\nmsg.payload = a\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":200,"wires":[["800cd2f0.7e6fc","54bcf469.64fc1c"]]},{"id":"2f227e47.c91302","type":"config","z":"a4de2d4a.3a835","name":"Config Good/Bad Dividing Lines by Ping Target","properties":[{"p":"GoodBadPT1","pt":"flow","to":"1","tot":"num"},{"p":"GoodBadPT2","pt":"flow","to":"500","tot":"num"},{"p":"GoodBadPT3","pt":"flow","to":"500","tot":"num"},{"p":"GoodBadPT4","pt":"flow","to":"4500","tot":"num"},{"p":"GoodBadPT5","pt":"flow","to":"2000","tot":"num"},{"p":"GoodBadPT6","pt":"flow","to":"1000","tot":"num"},{"p":"GoodBadPT7","pt":"flow","to":"1000","tot":"num"},{"p":"GoodBadPT8","pt":"flow","to":"1000","tot":"num"},{"p":"GoodBadPT9","pt":"flow","to":"1000","tot":"num"},{"p":"GoodBadPT10","pt":"flow","to":"1000","tot":"num"},{"p":"GoodBadPT11","pt":"flow","to":"1000","tot":"num"}],"active":true,"x":240,"y":620,"wires":[]},{"id":"bb6c4373.7b3c7","type":"config","z":"a4de2d4a.3a835","name":"Config If Target Counts toward down Internet Tracking","properties":[{"p":"InternetPT1","pt":"flow","to":"false","tot":"bool"},{"p":"InternetPT2","pt":"flow","to":"false","tot":"bool"},{"p":"InternetPT3","pt":"flow","to":"false","tot":"bool"},{"p":"InternetPT4","pt":"flow","to":"false","tot":"bool"},{"p":"InternetPT5","pt":"flow","to":"false","tot":"bool"},{"p":"InternetPT6","pt":"flow","to":"true","tot":"bool"},{"p":"InternetPT7","pt":"flow","to":"true","tot":"bool"},{"p":"InternetPT8","pt":"flow","to":"true","tot":"bool"},{"p":"InternetPT9","pt":"flow","to":"true","tot":"bool"},{"p":"InternetPT10","pt":"flow","to":"true","tot":"bool"},{"p":"InternetPT11","pt":"flow","to":"true","tot":"bool"}],"active":true,"x":260,"y":660,"wires":[]},{"id":"f97e59e9.764a98","type":"config","z":"76e3605b.0e6e7","name":"Config output directory","properties":[{"p":"OutputDirectory","pt":"flow","to":"/CS/Uptime/","tot":"str"},{"p":"Count","pt":"flow","to":"0","tot":"num"},{"p":"Min","pt":"flow","to":"None","tot":"str"},{"p":"Max","pt":"flow","to":"None","tot":"str"},{"p":"RollingAverage","pt":"flow","to":"None","tot":"str"}],"active":true,"x":140,"y":80,"wires":[],"info":" * CS 192.168.86.3\r\n * G Wifi 192.168.86.1\r\n * Emby laptop 192.168.86.2\r\n * Lennox 192.168.86.101\r\n * ATT router 192.168.1.254\r\n * Cloudflare 1.1.1.1\r\n * Level 3 4.2.2.2\r\n * Google 8.8.8.8\r\n * OpenDNS 208.67.222.222\r\n * dfw25s26-in-f19.1e100.net 172.217.9.147\r\n * ghs.googlehosted.com 172.217.9.147\r\n * "},{"id":"81c7815c.892cd","type":"config","z":"711cdb94.5b9a04","name":"Config output directory","properties":[{"p":"OutputDirectory","pt":"flow","to":"/CS/Uptime/","tot":"str"},{"p":"Count","pt":"flow","to":"0","tot":"num"},{"p":"Min","pt":"flow","to":"None","tot":"str"},{"p":"Max","pt":"flow","to":"None","tot":"str"},{"p":"RollingAverage","pt":"flow","to":"None","tot":"str"},{"p":"downcount","pt":"flow","to":"0","tot":"str"},{"p":"calculateandwriteoutage","pt":"flow","to":"false","tot":"bool"}],"active":true,"x":140,"y":240,"wires":[],"info":" * CS 192.168.86.3\r\n * G Wifi 192.168.86.1\r\n * Emby laptop 192.168.86.2\r\n * Lennox 192.168.86.101\r\n * ATT router 192.168.1.254\r\n * Cloudflare 1.1.1.1\r\n * Level 3 4.2.2.2\r\n * Google 8.8.8.8\r\n * OpenDNS 208.67.222.222\r\n * dfw25s26-in-f19.1e100.net 172.217.9.147\r\n * ghs.googlehosted.com 172.217.9.147\r\n * "},{"id":"89140f.205acbf","type":"inject","z":"a4de2d4a.3a835","name":"Good Ping","topic":"","payload":"13.7","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":360,"wires":[["fc44ef5c.76c14"]]},{"id":"b4ba9ca9.6a001","type":"inject","z":"a4de2d4a.3a835","name":"Down Ping","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":400,"wires":[["fc44ef5c.76c14"]]},{"id":"fc44ef5c.76c14","type":"change","z":"a4de2d4a.3a835","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"192.168.86.3","tot":"str"},{"t":"set","p":"host","pt":"msg","to":"192.168.86.3","tot":"str"},{"t":"set","p":"pingtarget","pt":"msg","to":"Central Services","tot":"str"},{"t":"set","p":"pingtargetnum","pt":"msg","to":"1","tot":"num"},{"t":"set","p":"goodbad","pt":"msg","to":"1","tot":"num"},{"t":"set","p":"internettarget","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"_payload","pt":"msg","to":"1","tot":"num"},{"t":"set","p":"_topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":380,"wires":[["88c59e55.f21a1"]]},{"id":"159589d9.1135c6","type":"GSheet","z":"711cdb94.5b9a04","creds":"bb5b26fe.1fc278","method":"append","action":"","sheet":"1ZKNZWvcBqLcxkkFSrV9JN-BAeXiGoGrDjepUyD-S5Cs","cells":"Sheet1!A2:J1000","name":"","x":1137,"y":500,"wires":[[]]},{"id":"c77a0cee.02f32","type":"function","z":"711cdb94.5b9a04","name":"Examine messages for Internet vs host down","func":"if (msg.internettarget){\n    var downCount = flow.get(\"downcount\")\n    if(!isNaN(downCount)){\n        if(downCount<6){ //it would be better and more elegant to have something count the number of internet targets and pass that in, but for now it is just hardcoded to 6\n            downCount++\n            if(downCount == 6) {\n                flow.set(\"wentdownat\",Date.now())\n                flow.set(\"internetdown\", true)\n            }\n        }\n        \n    }\n    flow.set(\"downcount\", downCount);\n    return msg;}","outputs":1,"noerr":0,"x":710,"y":53,"wires":[[]],"info":"This Node is triggered by a ping response of false (i.e. more than 5 seconds to respond and thus either the network or the target host is offline)\n\n * gets how many consecutive times the ping has shown as down\n * sets internet down as true\n * Makes sure the down count is a number (belt and suspenders that could almost certainly be removed\n * If it is not a number than nothing happens\n * If it is, the it checks to see if the number of down responses has reached 6. The 6 is how many internet hosts are being examined. I assume that if we reach 6 then it is the internet and not just one or more of the total hosts that are down. If it is already at 6 then the system is treating the internet as down aleady and no further action is required.\n * If it is less than 6, then the count is incremented\n * If incrementing it has now made the count 6, it then records (in epoch time) the time the count went from 5 to 6.\n * Finally it saves the count back into a flow variable.\n"},{"id":"2286604.c0f71a","type":"function","z":"711cdb94.5b9a04","name":"Time to report outage?","func":"if (msg.internettarget){\n    var downCount = flow.get(\"downcount\")\n    var originalDownCount = downCount\n    flow.set(\"calculateandwriteoutage\",false)\n    if(!isNaN(downCount)){\n        if(downCount > 0){\n            downCount--\n            if(downCount === 0 && flow.get(\"internetdown\")) {\n                flow.set(\"internetdown\", false)\n                flow.set(\"cameupat\",Date.now())\n                flow.set(\"calculateandwriteoutage\",true)\n            }\n        }\n    }\n    flow.set(\"downcount\", downCount);\n    if(flow.get(\"calculateandwriteoutage\")){\n        return msg;\n        \n    }\n}","outputs":1,"noerr":0,"x":760,"y":100,"wires":[["8a0a15c8.5a92d8"]],"info":"This Node is triggered by a ping response of a number (i.e. between 1 and 4999 milliseconds for a ping response)\n\n * get how many nodes are down\n * save a copy of how many nodes are down\n * Set flow variable for whether to do a calculation and output to false by default\n * Makes sure the down count is a number (belt and suspenders that could almost certainly be removed)\n * Check if the count is greater than zero\n * If it is then decrement the count\n * check if the decremented count is 0 now and that the internetdown flag is true (this flag means the down count reached 6)\n * If it is, then the internet is up enough to then this record this as the time the internet came up and set the internetdown back to false and change the flag for whether to calculated and write the outage to Gsheet to true\n * Record the down count to the flow variable"},{"id":"cfec0785.b80348","type":"switch","z":"711cdb94.5b9a04","name":"","property":"pingtargetnum","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"12","vt":"str"}],"checkall":"false","repair":false,"outputs":12,"x":930,"y":240,"wires":[["625ab66.59d0b48"],["c5d470b0.da92f"],["469f91ba.58236"],["6caf4611.732b98"],["59014ce7.0a1b44"],["83e3d76d.17aad8"],["25747400.0795cc"],["2c8b7f98.87f3e"],["8f9ccce1.dd365"],["c8251ad6.9dcaf8"],["f54e3165.fa3b4"],["84a64174.16425"]]},{"id":"2a8bf2f.e6a000e","type":"function","z":"711cdb94.5b9a04","name":"Calculate Duration of Outage","func":"if(flow.get(\"calculateandwriteoutage\")){\n    var duration = flow.get(\"cameupat\") - flow.get(\"wentdownat\")\n    flow.set(\"calculateandwriteoutage\",false)\n    msg.payload = duration\n    return msg;\n} \n","outputs":1,"noerr":0,"x":160,"y":580,"wires":[["9a5ed7f0.5f0c68"]]},{"id":"cd0652f2.24c1b","type":"change","z":"711cdb94.5b9a04","name":"Set Ping Status Down","rules":[{"t":"set","p":"PingStatus","pt":"msg","to":"Down","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":53,"wires":[["cfec0785.b80348","c77a0cee.02f32"]]},{"id":"625ab66.59d0b48","type":"subflow:76e3605b.0e6e7","z":"711cdb94.5b9a04","x":1150,"y":20,"wires":[]},{"id":"c5d470b0.da92f","type":"subflow:76e3605b.0e6e7","z":"711cdb94.5b9a04","name":"","x":1150,"y":60,"wires":[]},{"id":"469f91ba.58236","type":"subflow:76e3605b.0e6e7","z":"711cdb94.5b9a04","name":"","x":1150,"y":100,"wires":[]},{"id":"6caf4611.732b98","type":"subflow:76e3605b.0e6e7","z":"711cdb94.5b9a04","name":"","x":1150,"y":140,"wires":[]},{"id":"59014ce7.0a1b44","type":"subflow:76e3605b.0e6e7","z":"711cdb94.5b9a04","name":"","x":1150,"y":180,"wires":[]},{"id":"83e3d76d.17aad8","type":"subflow:76e3605b.0e6e7","z":"711cdb94.5b9a04","name":"","x":1150,"y":220,"wires":[]},{"id":"25747400.0795cc","type":"subflow:76e3605b.0e6e7","z":"711cdb94.5b9a04","name":"","x":1150,"y":260,"wires":[]},{"id":"2c8b7f98.87f3e","type":"subflow:76e3605b.0e6e7","z":"711cdb94.5b9a04","name":"","x":1150,"y":300,"wires":[]},{"id":"8f9ccce1.dd365","type":"subflow:76e3605b.0e6e7","z":"711cdb94.5b9a04","name":"","x":1150,"y":340,"wires":[]},{"id":"c8251ad6.9dcaf8","type":"subflow:76e3605b.0e6e7","z":"711cdb94.5b9a04","name":"","x":1150,"y":380,"wires":[]},{"id":"f54e3165.fa3b4","type":"subflow:76e3605b.0e6e7","z":"711cdb94.5b9a04","name":"","x":1150,"y":420,"wires":[]},{"id":"84a64174.16425","type":"subflow:76e3605b.0e6e7","z":"711cdb94.5b9a04","name":"","x":1149,"y":460,"wires":[]},{"id":"286de803.dcf568","type":"change","z":"711cdb94.5b9a04","name":"Set Ping Status Good","rules":[{"t":"set","p":"PingStatus","pt":"msg","to":"Good","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":100,"wires":[["cfec0785.b80348","2286604.c0f71a"]]},{"id":"3716f3a5.c360dc","type":"change","z":"711cdb94.5b9a04","name":"Set Ping Status Slow","rules":[{"t":"set","p":"PingStatus","pt":"msg","to":"Slow","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":140,"wires":[["cfec0785.b80348","2286604.c0f71a"]]},{"id":"9a5ed7f0.5f0c68","type":"function","z":"711cdb94.5b9a04","name":"Translate Duration Function","func":"/* \n * Create Variables\n * \n */\n        var milliseconds = msg.payload;\n        var years, weeks, days, hours, minutes, seconds, millis;\n    //creating 2 string versions of each of the durations that can be in the middle of a 1:01:01.001 duration \n    //minstr is the always 2 character one\n    //lminstr is the version that can be 1 or more characers that will be used when that part is the portion of the duration\n        var minstr, secstr, millistr, lminstr, lsecstr, lmillistr;\n        var whichcomponents, readableduration;\n\n/*\n * Calculate the numbers for the subcomponents\n * \n */\n    //by getting the remainder when dividing by 1000\n    //it leaves just the fraction of milliseconds\n        millis = milliseconds % 1000;\n    //the floor function drops the decimal portion\n    //returning the non fractional seconds\n        seconds = Math.floor(milliseconds / 1000);\n    //the floor function drops the decimal portion\n    //returning the non fractional minutes\n        minutes = Math.floor(seconds / 60);\n    //Once the minutes have been calculated, then\n    //the seconds is replaced with those seconds not\n    //accounted for by the minutes\n        seconds = seconds % 60;\n    //The same sequence as used for minutes/seconds\n    //then used to calulate minutes, hours, dayss, weeks, years\n\n        hours = Math.floor(minutes / 60);\n        minutes = minutes % 60;\n        days = Math.floor(hours / 24);\n        hours = hours % 24;\n        weeks = Math.floor(days / 7)\n        days = days % 7;\n        years = Math.floor(days / 365.25)\n        weeks = weeks % 52;\n\n/*\n * Put the subcomponents into msg payloads for easy access by later nodes\n *\n */\n        msg.years = years\n        msg.weeks = weeks\n        msg.days = days\n        msg.hours = hours\n        msg.minutes = minutes\n        msg.seconds = seconds\n        msg.millis = millis\n \n\n/*\n * create the string verssion for the subcomponents\n */\n    //milliseconds\n        lmillistr = millis.toString();\n        //put padding on the milliseconds so that 1 ms shows as .001 and not .1 when concatenated after a decimal\n            millistr = millis.toString().padStart(3, \"0\");\n    //seconds\n        lsecstr = seconds.toString();\n        //put padding on the seconds so that 1 s shows as :01.000 and not :1.000 when concatenated after a dividing :\n            secstr = lsecstr.padStart(2, \"0\");\n    //minutes\n        lminstr = minutes.toString();\n        //put padding on the minutes so that 1 m shows as :01:00.000 and not :1:00.000 when concatenated after a dividing :\n            minstr = lminstr.padStart(2, \"0\");\n\n/*\n * Build output based on largest significant populated unit\n * The general rule is to include in the output the largest unit (years, weeks, days, etc) followed by the next 2\n * smaller units if the happen to be populated\n */\n    readableduration =\"\"\n//years populated\n    if (years !== 0) { \n        if (days !== 0) {\n            if (days === 1) {\n                readableduration = \" \".concat(days.toString(), \" Day\", readableduration)\n            } else {\n                readableduration = \" \".concat(days.toString(), \" Days\", readableduration)\n            }\n        }\n        if (weeks !== 0) {\n            if (weeks === 1) {\n                readableduration = \" \".concat(weeks.toString(), \" Week\", readableduration)\n            } else {\n                readableduration = \" \".concat(weeks.toString(), \" Weeks\", readableduration)\n            }\n        }\n        if (years === 1) {\n            readableduration = years.toString().concat(\" Year\", readableduration)\n        } else {\n            readableduration = years.toString().concat(\" Years\", readableduration)\n        }\n//weeks populated\n    } else if (weeks !== 0) {\n        if (hours !== 0) {\n            if (hours === 1) {\n                readableduration = \" \".concat(hours.toString(), \" Hour\", readableduration)\n            } else {\n                readableduration = \" \".concat(hours.toString(), \" Hours\", readableduration)\n            }\n        }\n        if (days !== 0) {\n            if (weeks === 1) {\n                readableduration = \" \".concat(days.toString(), \" Day\", readableduration)\n            } else {\n                readableduration = \" \".concat(days.toString(), \" Days\", readableduration)\n            }\n        }\n        if (weeks === 1) {\n            readableduration = weeks.toString().concat(\" Week\", readableduration)\n        } else {\n            readableduration = weeks.toString().concat(\" Weeks\", readableduration)\n        }\n//days populated\n    } else if (days !== 0) {\n        if ((minutes !== 0) && (hours !== 0)) { //If both are non-zero then 1:01 format. If only 1 then either 2 hours or 1 minute\n            if (minutes !== 0) {\n                readableduration = \":\".concat(minstr, readableduration)\n            }\n            if (hours !== 0) {\n                readableduration = \" \".concat(hours.toString(), readableduration)\n            } else {\n                readableduration = \" 0\".concat(readableduration)\n            }\n        } else {\n            if (minutes === 1) {\n                readableduration = \" 1 Minute\".concat(readableduration)\n            } else if (minutes > 1) {\n                readableduration = \" \".concat(lminstr,\" Minutes\", readableduration)\n            } else if (hours === 1) {\n                readableduration = \" 1 Hour\".concat(readableduration)\n            } else {\n                if (hours >1) {\n                    readableduration = \" \".concat(hours.toString(),\" Hours\", readableduration)\n                }\n            }\n        }\n        if (days === 1) {\n            readableduration = days.toString().concat(\" Day\", readableduration)\n        } else {\n            readableduration = days.toString().concat(\" Days\", readableduration)\n        }\n//hours populated\n    } else if (hours !== 0) {\n        if ((minutes !== 0) || (seconds !== 0)) { //End result h Hours or h:mm:ss\n            readableduration = hours.toString().concat(\":\", minstr, \":\", secstr, readableduration)\n        } else {\n            if (hours === 1) {\n                readableduration = \"1 Hour\"\n            } else {\n                readableduration = hours.toString().concat(\" Hours\", readableduration)\n            }\n        }\n//minutes populated\n    } else if (minutes !== 0) { //End result m Minutes or mm:ss.MMM\n        if (seconds !== 0 || millis !== 0) { //End result h Hours or h:mm:ss\n            readableduration = lminstr.concat(\":\", secstr, \".\", millistr, readableduration)\n        } else {\n            if (minutes === 1) {\n                readableduration = \"1 Minute\".concat( readableduration)\n            } else {\n                readableduration = lminstr.concat(\" Minutes\", readableduration)\n            }\n        }\n//seconds populated\n    } else if (seconds !== 0) {\n        if (millis !== 0) { //End result s Seconds or s.MMM\n            readableduration = lsecstr.concat(\".\", millistr, \" Seconds\", readableduration)\n        } else {\n            if (seconds === 1) {\n                readableduration = \"1 Second\".concat( readableduration)\n            } else {\n                readableduration = lsecstr.concat(\" Seconds\", readableduration)\n            }\n        }\n//milliseconds populated\n    } else if (millis !== 0) {\n        if (millis !== 1) {\n            readableduration = lmillistr.concat(\" Milliseconds\", readableduration)\n        } else {\n            readableduration = \"1 Millisecond\".concat( readableduration)\n        }\n    } else {\n        readableduration = \"0\"\n    }\n    msg.years = years\n    msg.weeks = weeks\n    msg.days = days\n    msg.hours = hours\n    msg.minutes = minutes\n    msg.seconds = seconds\n    msg.millis = millis\n    msg.payload = readableduration\n    return msg;","outputs":1,"noerr":0,"x":420,"y":580,"wires":[["533989e6.19aa38"]]},{"id":"5117f3ab.9484cc","type":"switch","z":"711cdb94.5b9a04","name":"Ping Status","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"lt","v":"goodbad","vt":"msg"},{"t":"gte","v":"goodbad","vt":"msg"}],"checkall":"false","repair":false,"outputs":3,"x":150,"y":100,"wires":[["cd0652f2.24c1b"],["286de803.dcf568"],["3716f3a5.c360dc"]]},{"id":"45d73ffd.6779d","type":"join","z":"711cdb94.5b9a04","name":"Assemble all columns and then send to Gsheet","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":847,"y":500,"wires":[["159589d9.1135c6"]]},{"id":"8a0a15c8.5a92d8","type":"change","z":"711cdb94.5b9a04","name":"Build Column A data","rules":[{"t":"set","p":"payload","pt":"msg","to":"Outage","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":500,"wires":[["45d73ffd.6779d","faa029b5.b65c28"]]},{"id":"faa029b5.b65c28","type":"simpletime","z":"711cdb94.5b9a04","name":"Populate Time Messages","x":150,"y":540,"wires":[["88071c08.c524"]]},{"id":"88071c08.c524","type":"change","z":"711cdb94.5b9a04","name":"Build Date/Time for Column B","rules":[{"t":"set","p":"payload","pt":"msg","to":"myyear\t&\"-\"&\tmymonthn\t&\"-\"&\tmydom\t&\" \"&\tmyhourpm\t&\":\"&\tmyminute\t&\":\"&\tmysecond\t&\".\"&\tmymillis\t&\" \"&\tmypm","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":540,"wires":[["45d73ffd.6779d","2a8bf2f.e6a000e"]]},{"id":"533989e6.19aa38","type":"change","z":"711cdb94.5b9a04","name":"Pass Duration for Column C and send complet to Join","rules":[{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":620,"wires":[["45d73ffd.6779d"]]},{"id":"e6f86ef9.f3af6","type":"rbe","z":"76e3605b.0e6e7","name":"New Max?","func":"rbei","gap":"","start":"","inout":"out","property":"Max","x":850,"y":20,"wires":[["23c83a68.f57316"]]},{"id":"48434c5b.387c44","type":"rbe","z":"76e3605b.0e6e7","name":"New Min?","func":"rbei","gap":"","start":"","inout":"out","property":"Min","x":850,"y":60,"wires":[["23c83a68.f57316"]]},{"id":"4c07bbc7.518524","type":"comment","z":"a4de2d4a.3a835","name":"For Testing Sending good or bad results from an internet host","info":"","x":340,"y":320,"wires":[]},{"id":"15d5c8d9.d763b7","type":"hubitat device","z":"19f09f55.ffe791","name":"Mike Credenza Light","server":"c114fe92.abb34","deviceId":"388","attribute":"switch","sendEvent":true,"x":440,"y":80,"wires":[["3a09e984.7e51c6"]]},{"id":"abf71c27.80cbc","type":"hubitat command","z":"19f09f55.ffe791","name":"Mike Credenza Light On","server":"c114fe92.abb34","deviceId":"388","command":"on","commandArgs":"","x":370,"y":240,"wires":[["a5df61f5.8f527"]]},{"id":"cb6d24ea.d3f128","type":"inject","z":"19f09f55.ffe791","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":240,"wires":[["abf71c27.80cbc","b383d435.157da8","6099c8dc.a690c8"]]},{"id":"14fe8ee9.b40e21","type":"inject","z":"19f09f55.ffe791","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":480,"wires":[["bd198ec5.577c8","9e99869b.694e38","654c3f37.32d06"]]},{"id":"bd198ec5.577c8","type":"hubitat command","z":"19f09f55.ffe791","name":"Mike Credenza Light Off","server":"c114fe92.abb34","deviceId":"388","command":"off","commandArgs":"","x":390,"y":480,"wires":[[]]},{"id":"b383d435.157da8","type":"hubitat command","z":"19f09f55.ffe791","name":"Game Room Floor Lamp On","server":"c114fe92.abb34","deviceId":"357","command":"on","commandArgs":"","x":380,"y":280,"wires":[[]]},{"id":"6099c8dc.a690c8","type":"hubitat command","z":"19f09f55.ffe791","name":"Office Desk Lamp On","server":"c114fe92.abb34","deviceId":"550","command":"on","commandArgs":"","x":360,"y":320,"wires":[[]]},{"id":"9e99869b.694e38","type":"hubitat command","z":"19f09f55.ffe791","name":"Game Room Floor Lamp Off","server":"c114fe92.abb34","deviceId":"357","command":"off","commandArgs":"","x":400,"y":520,"wires":[[]]},{"id":"654c3f37.32d06","type":"hubitat command","z":"19f09f55.ffe791","name":"Office Desk Lamp Off","server":"c114fe92.abb34","deviceId":"550","command":"off","commandArgs":"","x":380,"y":560,"wires":[[]]},{"id":"3a09e984.7e51c6","type":"debug","z":"19f09f55.ffe791","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":900,"y":260,"wires":[]},{"id":"a5df61f5.8f527","type":"rbe","z":"19f09f55.ffe791","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":680,"y":260,"wires":[["3a09e984.7e51c6"]]},{"id":"511ab39e.47cd9c","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":60,"wires":[["6759d527.d1a09c"]]},{"id":"6759d527.d1a09c","type":"hubitat command","z":"ba419a6a.959718","name":"Pause Echo-Office","server":"c114fe92.abb34","deviceId":"321","command":"pause","commandArgs":"","x":410,"y":60,"wires":[[]]},{"id":"74436e84.8be29","type":"hubitat device","z":"ba419a6a.959718","name":"Alarm Volume","server":"c114fe92.abb34","deviceId":"321","attribute":"alarmVolume","sendEvent":true,"x":140,"y":180,"wires":[[]]},{"id":"93267d00.e677e","type":"hubitat device","z":"ba419a6a.959718","name":"Alexa Notifications","server":"c114fe92.abb34","deviceId":"321","attribute":"alexaNotifications","sendEvent":true,"x":150,"y":240,"wires":[[]]},{"id":"64873708.6026e8","type":"hubitat device","z":"ba419a6a.959718","name":"Alexa Playlists","server":"c114fe92.abb34","deviceId":"321","attribute":"alexaPlaylists","sendEvent":true,"x":140,"y":300,"wires":[[]]},{"id":"b33a3c89.82e04","type":"hubitat device","z":"ba419a6a.959718","name":"Audio Track Data","server":"c114fe92.abb34","deviceId":"321","attribute":"audioTrackData","sendEvent":true,"x":150,"y":360,"wires":[["7f2335.1b073ccc","9a596389.c0e56"]]},{"id":"9993e29c.c371e","type":"hubitat device","z":"ba419a6a.959718","name":"Bluetooth Device Connected","server":"c114fe92.abb34","deviceId":"321","attribute":"btDeviceConnected","sendEvent":true,"x":180,"y":420,"wires":[[]]},{"id":"9e222169.79b1f","type":"hubitat device","z":"ba419a6a.959718","name":"Bluetooth Devices Paired","server":"c114fe92.abb34","deviceId":"321","attribute":"btDevicesPaired","sendEvent":true,"x":170,"y":480,"wires":[[]]},{"id":"276c6e42.93f022","type":"hubitat device","z":"ba419a6a.959718","name":"Current Album","server":"c114fe92.abb34","deviceId":"321","attribute":"currentAlbum","sendEvent":true,"x":140,"y":540,"wires":[[]]},{"id":"7312fb95.46bd24","type":"hubitat device","z":"ba419a6a.959718","name":"Current Station","server":"c114fe92.abb34","deviceId":"321","attribute":"currentStation","sendEvent":true,"x":140,"y":600,"wires":[[]]},{"id":"e9ef9b7b.385978","type":"hubitat device","z":"ba419a6a.959718","name":"Device Family","server":"c114fe92.abb34","deviceId":"321","attribute":"deviceFamily","sendEvent":true,"x":140,"y":660,"wires":[[]]},{"id":"d99f3886.ea8b18","type":"hubitat device","z":"ba419a6a.959718","name":"Device Status","server":"c114fe92.abb34","deviceId":"321","attribute":"deviceStatus","sendEvent":true,"x":140,"y":720,"wires":[[]]},{"id":"ea7cd1b4.2e57b","type":"hubitat device","z":"ba419a6a.959718","name":"Device Style","server":"c114fe92.abb34","deviceId":"321","attribute":"deviceStyle","sendEvent":true,"x":130,"y":780,"wires":[[]]},{"id":"d6326bcb.cd03f8","type":"hubitat device","z":"ba419a6a.959718","name":"Device Type","server":"c114fe92.abb34","deviceId":"321","attribute":"deviceType","sendEvent":true,"x":130,"y":840,"wires":[[]]},{"id":"a001c338.fecce","type":"hubitat device","z":"ba419a6a.959718","name":"Do Not Disturb","server":"c114fe92.abb34","deviceId":"321","attribute":"doNotDisturb","sendEvent":true,"x":140,"y":900,"wires":[[]]},{"id":"c9bce77f.552c88","type":"hubitat device","z":"ba419a6a.959718","name":"Firmware Version","server":"c114fe92.abb34","deviceId":"321","attribute":"firmwareVer","sendEvent":true,"x":150,"y":960,"wires":[[]]},{"id":"d31eb575.742cf8","type":"hubitat device","z":"ba419a6a.959718","name":"Followup Mode","server":"c114fe92.abb34","deviceId":"321","attribute":"followUpMode","sendEvent":true,"x":140,"y":1020,"wires":[[]]},{"id":"bdfc834e.ffbbc","type":"hubitat device","z":"ba419a6a.959718","name":"Last Command Sent Date","server":"c114fe92.abb34","deviceId":"321","attribute":"lastCmdSentDt","sendEvent":true,"x":170,"y":1080,"wires":[[]]},{"id":"a7f17192.7ef07","type":"hubitat device","z":"ba419a6a.959718","name":"Last Speak Command","server":"c114fe92.abb34","deviceId":"321","attribute":"lastSpeakCmd","sendEvent":true,"x":160,"y":1140,"wires":[[]]},{"id":"96b59979.c17368","type":"hubitat device","z":"ba419a6a.959718","name":"Last Spoken To Time","server":"c114fe92.abb34","deviceId":"321","attribute":"lastSpokenToTime","sendEvent":true,"x":160,"y":1200,"wires":[[]]},{"id":"d5215b19.310138","type":"hubitat device","z":"ba419a6a.959718","name":"Last Updated","server":"c114fe92.abb34","deviceId":"321","attribute":"lastUpdated","sendEvent":true,"x":130,"y":1260,"wires":[[]]},{"id":"34fb6aef.aa1776","type":"hubitat device","z":"ba419a6a.959718","name":"Last Voice Activity","server":"c114fe92.abb34","deviceId":"321","attribute":"lastVoiceActivity","sendEvent":true,"x":150,"y":1320,"wires":[[]]},{"id":"2145f182.1e1b2e","type":"hubitat device","z":"ba419a6a.959718","name":"Level","server":"c114fe92.abb34","deviceId":"321","attribute":"level","sendEvent":true,"x":110,"y":1380,"wires":[[]]},{"id":"3d4bb852.ad0818","type":"hubitat device","z":"ba419a6a.959718","name":"Media Source","server":"c114fe92.abb34","deviceId":"321","attribute":"mediaSource","sendEvent":true,"x":140,"y":1440,"wires":[[]]},{"id":"de311f84.a07f9","type":"hubitat device","z":"ba419a6a.959718","name":"Mute","server":"c114fe92.abb34","deviceId":"321","attribute":"mute","sendEvent":true,"x":110,"y":1500,"wires":[[]]},{"id":"1113c7.d77a1c39","type":"hubitat device","z":"ba419a6a.959718","name":"Online Status","server":"c114fe92.abb34","deviceId":"321","attribute":"onlineStatus","sendEvent":true,"x":140,"y":1560,"wires":[[]]},{"id":"fa26c848.132f68","type":"hubitat device","z":"ba419a6a.959718","name":"Permissions","server":"c114fe92.abb34","deviceId":"321","attribute":"permissions","sendEvent":true,"x":130,"y":1620,"wires":[[]]},{"id":"1aeafbc2.9fcfd4","type":"hubitat device","z":"ba419a6a.959718","name":"Status","server":"c114fe92.abb34","deviceId":"321","attribute":"status","sendEvent":true,"x":110,"y":1680,"wires":[[]]},{"id":"b580d0aa.e3a5b","type":"hubitat device","z":"ba419a6a.959718","name":"Supported Music","server":"c114fe92.abb34","deviceId":"321","attribute":"supportedMusic","sendEvent":true,"x":150,"y":1740,"wires":[[]]},{"id":"a7009411.2ed128","type":"hubitat device","z":"ba419a6a.959718","name":"Track Data","server":"c114fe92.abb34","deviceId":"321","attribute":"trackData","sendEvent":true,"x":130,"y":1800,"wires":[[]]},{"id":"1f11901c.04aa","type":"hubitat device","z":"ba419a6a.959718","name":"Track Description","server":"c114fe92.abb34","deviceId":"321","attribute":"trackDescription","sendEvent":true,"x":150,"y":1860,"wires":[[]]},{"id":"bdbd1e0b.9acef","type":"hubitat device","z":"ba419a6a.959718","name":"Track Image","server":"c114fe92.abb34","deviceId":"321","attribute":"trackImage","sendEvent":true,"x":130,"y":1920,"wires":[[]]},{"id":"3a7bbd32.7448f2","type":"hubitat device","z":"ba419a6a.959718","name":"Track Image Html","server":"c114fe92.abb34","deviceId":"321","attribute":"trackImageHtml","sendEvent":true,"x":150,"y":1980,"wires":[[]]},{"id":"f7c006e0.160c58","type":"hubitat device","z":"ba419a6a.959718","name":"Volume","server":"c114fe92.abb34","deviceId":"321","attribute":"volume","sendEvent":true,"x":120,"y":2040,"wires":[[]]},{"id":"3b37d5ed.dcd9da","type":"hubitat device","z":"ba419a6a.959718","name":"Wake Words","server":"c114fe92.abb34","deviceId":"321","attribute":"wakeWords","sendEvent":true,"x":130,"y":2100,"wires":[[]]},{"id":"5badbf2f.5866e","type":"hubitat device","z":"ba419a6a.959718","name":"Was Last Spoken To Device","server":"c114fe92.abb34","deviceId":"321","attribute":"wasLastSpokenToDevice","sendEvent":true,"x":180,"y":2160,"wires":[[]]},{"id":"960949ed.901d98","type":"hubitat device","z":"ba419a6a.959718","name":"Wifi Network","server":"c114fe92.abb34","deviceId":"321","attribute":"wifiNetwork","sendEvent":true,"x":130,"y":2220,"wires":[[]]},{"id":"53a8ed3c.c55124","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":100,"wires":[["84807082.beecb"]]},{"id":"84807082.beecb","type":"hubitat command","z":"ba419a6a.959718","name":"PlayEcho-Office","server":"c114fe92.abb34","deviceId":"321","command":"play","commandArgs":"","x":400,"y":100,"wires":[[]]},{"id":"75077144.ea072","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":780,"y":40,"wires":[["9981e0d0.73b1b"]]},{"id":"9981e0d0.73b1b","type":"hubitat command","z":"ba419a6a.959718","name":"Play Joke","server":"c114fe92.abb34","deviceId":"321","command":"playJoke","commandArgs":"","x":980,"y":40,"wires":[[]]},{"id":"72c8b93d.29f4d8","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":780,"y":80,"wires":[["46f3e95c.2e9628"]]},{"id":"46f3e95c.2e9628","type":"hubitat command","z":"ba419a6a.959718","name":"Say Compliment","server":"c114fe92.abb34","deviceId":"321","command":"sayCompliment","commandArgs":"","x":1000,"y":80,"wires":[[]]},{"id":"b65f67f.b212298","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":780,"y":120,"wires":[["d092853a.38e718"]]},{"id":"d092853a.38e718","type":"hubitat command","z":"ba419a6a.959718","name":"Say Compliment","server":"c114fe92.abb34","deviceId":"321","command":"searchAppleMusic","commandArgs":"Liz Phair","x":1000,"y":120,"wires":[[]]},{"id":"cf802c29.1ee51","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":440,"wires":[["b9c4c74d.f2fef8"]]},{"id":"b9c4c74d.f2fef8","type":"hubitat command","z":"ba419a6a.959718","name":"Connect Bluetooth","server":"c114fe92.abb34","deviceId":"321","command":"connectBluetooth","commandArgs":"","x":910,"y":440,"wires":[["be430190.5160f"]]},{"id":"be430190.5160f","type":"debug","z":"ba419a6a.959718","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1140,"y":460,"wires":[]},{"id":"b21ed96b.8019d8","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":480,"wires":[["1d35f623.b31bba"]]},{"id":"1d35f623.b31bba","type":"hubitat command","z":"ba419a6a.959718","name":"Create Alarm","server":"c114fe92.abb34","deviceId":"321","command":"createAlarm","commandArgs":"","x":890,"y":480,"wires":[[]]},{"id":"8253c45b.6f2538","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":520,"wires":[["735aebd9.05d174"]]},{"id":"735aebd9.05d174","type":"hubitat command","z":"ba419a6a.959718","name":"Create Reminder","server":"c114fe92.abb34","deviceId":"321","command":"createReminder","commandArgs":"","x":910,"y":520,"wires":[[]]},{"id":"c650266e.ec92b8","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":560,"wires":[["b3b9b40d.b28c58"]]},{"id":"b3b9b40d.b28c58","type":"hubitat command","z":"ba419a6a.959718","name":"Device Notification","server":"c114fe92.abb34","deviceId":"321","command":"deviceNotification","commandArgs":"","x":910,"y":560,"wires":[[]]},{"id":"2880e2bb.aa131e","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":600,"wires":[["8410e63e.cfe948"]]},{"id":"8410e63e.cfe948","type":"hubitat command","z":"ba419a6a.959718","name":"Disconnect Bluetooth","server":"c114fe92.abb34","deviceId":"321","command":"disconnectBluetooth","commandArgs":"","x":920,"y":600,"wires":[[]]},{"id":"831c025f.95856","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":640,"wires":[["e80abbde.24ad78"]]},{"id":"e80abbde.24ad78","type":"hubitat command","z":"ba419a6a.959718","name":"Do Not Disturb Off","server":"c114fe92.abb34","deviceId":"321","command":"doNotDisturbOff","commandArgs":"","x":910,"y":640,"wires":[[]]},{"id":"91681bf5.6bc768","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":680,"wires":[["8bc93be5.cb8578"]]},{"id":"8bc93be5.cb8578","type":"hubitat command","z":"ba419a6a.959718","name":"Execute Routine Id","server":"c114fe92.abb34","deviceId":"321","command":"executeRoutineId","commandArgs":"","x":910,"y":680,"wires":[[]]},{"id":"23cf6273.b8cebe","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":720,"wires":[["eb1c2e86.492a"]]},{"id":"eb1c2e86.492a","type":"hubitat command","z":"ba419a6a.959718","name":"Execute Sequence Command","server":"c114fe92.abb34","deviceId":"321","command":"executeSequenceCommand","commandArgs":"","x":950,"y":720,"wires":[[]]},{"id":"81b1e893.43ce78","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":760,"wires":[["89a875c6.8164c8"]]},{"id":"89a875c6.8164c8","type":"hubitat command","z":"ba419a6a.959718","name":"Get Bluetooth Devices","server":"c114fe92.abb34","deviceId":"321","command":"getBluetoothDevices","commandArgs":"","x":920,"y":760,"wires":[["be430190.5160f"]]},{"id":"ecc00fc9.c66d5","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":800,"wires":[["c7f33945.6ef048"]]},{"id":"c7f33945.6ef048","type":"hubitat command","z":"ba419a6a.959718","name":"Get Device Activity","server":"c114fe92.abb34","deviceId":"321","command":"getDeviceActivity","commandArgs":"","x":910,"y":800,"wires":[[]]},{"id":"b26aa41.1fec158","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":840,"wires":[["2b3103d0.9ebc3c"]]},{"id":"2b3103d0.9ebc3c","type":"hubitat command","z":"ba419a6a.959718","name":"Mute","server":"c114fe92.abb34","deviceId":"321","command":"mute","commandArgs":"","x":870,"y":840,"wires":[[]]},{"id":"e6cf458d.cb28b8","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":880,"wires":[["1cea63a3.0b9bdc"]]},{"id":"1cea63a3.0b9bdc","type":"hubitat command","z":"ba419a6a.959718","name":"Next Track","server":"c114fe92.abb34","deviceId":"321","command":"nextTrack","commandArgs":"","x":890,"y":880,"wires":[[]]},{"id":"8e17e6e8.d763b8","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":920,"wires":[["68614bf5.d0ae74"]]},{"id":"68614bf5.d0ae74","type":"hubitat command","z":"ba419a6a.959718","name":"Pause","server":"c114fe92.abb34","deviceId":"321","command":"pause","commandArgs":"","x":870,"y":920,"wires":[[]]},{"id":"da69c278.63cec","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":960,"wires":[["e7d39cab.cec48"]]},{"id":"e7d39cab.cec48","type":"hubitat command","z":"ba419a6a.959718","name":"Play","server":"c114fe92.abb34","deviceId":"321","command":"play","commandArgs":"","x":870,"y":960,"wires":[[]]},{"id":"2f0fee26.3c4c32","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":1000,"wires":[["3e9333ed.5fb6cc"]]},{"id":"3e9333ed.5fb6cc","type":"hubitat command","z":"ba419a6a.959718","name":"Play Announcement","server":"c114fe92.abb34","deviceId":"321","command":"playAnnouncement","commandArgs":"","x":920,"y":1000,"wires":[[]]},{"id":"26fd7a6f.9c6146","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":1040,"wires":[["c8490fa0.864b2"]]},{"id":"c8490fa0.864b2","type":"hubitat command","z":"ba419a6a.959718","name":"Play Announcement All","server":"c114fe92.abb34","deviceId":"321","command":"playAnnouncementAll","commandArgs":"","x":920,"y":1040,"wires":[[]]},{"id":"291fef90.2eba6","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":1080,"wires":[["6d569d0.011d164"]]},{"id":"6d569d0.011d164","type":"hubitat command","z":"ba419a6a.959718","name":"Play Calendar Next","server":"c114fe92.abb34","deviceId":"321","command":"playCalendarNext","commandArgs":"","x":910,"y":1080,"wires":[[]]},{"id":"c0b401df.3c6cf","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":1120,"wires":[["e4cc6645.760e38"]]},{"id":"e4cc6645.760e38","type":"hubitat command","z":"ba419a6a.959718","name":"Play Calendar Today","server":"c114fe92.abb34","deviceId":"321","command":"playCalendarToday","commandArgs":"","x":920,"y":1120,"wires":[[]]},{"id":"cd9363d4.08993","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":1160,"wires":[["691883c8.9c311c"]]},{"id":"691883c8.9c311c","type":"hubitat command","z":"ba419a6a.959718","name":"Play Calendar Tomorrow","server":"c114fe92.abb34","deviceId":"321","command":"playCalendarTomorrow","commandArgs":"","x":930,"y":1160,"wires":[[]]},{"id":"caace79.3477e18","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":1200,"wires":[["b98089b8.ac6d18"]]},{"id":"b98089b8.ac6d18","type":"hubitat command","z":"ba419a6a.959718","name":"PlayFlash Brief","server":"c114fe92.abb34","deviceId":"321","command":"playFlashBrief","commandArgs":"","x":900,"y":1200,"wires":[[]]},{"id":"3d95b512.41bb1a","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":1240,"wires":[["4772fd87.879354"]]},{"id":"4772fd87.879354","type":"hubitat command","z":"ba419a6a.959718","name":"Play Fun Fact","server":"c114fe92.abb34","deviceId":"321","command":"playFunFact","commandArgs":"","x":900,"y":1240,"wires":[[]]},{"id":"42bfbc71.6ed344","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":1280,"wires":[["1b557e3e.1524f2"]]},{"id":"1b557e3e.1524f2","type":"hubitat command","z":"ba419a6a.959718","name":"Play Joke","server":"c114fe92.abb34","deviceId":"321","command":"playJoke","commandArgs":"","x":880,"y":1280,"wires":[[]]},{"id":"7d469a49.dba344","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":1320,"wires":[["cca25555.966208"]]},{"id":"cca25555.966208","type":"hubitat command","z":"ba419a6a.959718","name":"Play Sing A Song","server":"c114fe92.abb34","deviceId":"321","command":"playSingASong","commandArgs":"","x":910,"y":1320,"wires":[[]]},{"id":"c1695ce1.5a2d1","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":1360,"wires":[["c25ff59f.6795f8"]]},{"id":"c25ff59f.6795f8","type":"hubitat command","z":"ba419a6a.959718","name":"Sound By Name","server":"c114fe92.abb34","deviceId":"321","command":"playSoundByName","commandArgs":"","x":900,"y":1360,"wires":[[]]},{"id":"6f6592d9.370e7c","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":1400,"wires":[["303a733a.d04b7c"]]},{"id":"303a733a.d04b7c","type":"hubitat command","z":"ba419a6a.959718","name":"Play Tell Story","server":"c114fe92.abb34","deviceId":"321","command":"playTellStory","commandArgs":"","x":900,"y":1400,"wires":[[]]},{"id":"1ebd6884.a69017","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":1440,"wires":[["7932faaf.f2b9a4"]]},{"id":"7932faaf.f2b9a4","type":"hubitat command","z":"ba419a6a.959718","name":"Play Text","server":"c114fe92.abb34","deviceId":"321","command":"playText","commandArgs":"","x":880,"y":1440,"wires":[[]]},{"id":"d9ba537c.922ac","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":1480,"wires":[["861df52.c9ec008"]]},{"id":"861df52.c9ec008","type":"hubitat command","z":"ba419a6a.959718","name":"Play Text and Restore","server":"c114fe92.abb34","deviceId":"321","command":"playTextAndRestore","commandArgs":"","x":920,"y":1480,"wires":[[]]},{"id":"33547bc5.ebe984","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":1520,"wires":[["a55dcf3d.2b8ea"]]},{"id":"a55dcf3d.2b8ea","type":"hubitat command","z":"ba419a6a.959718","name":"Play Test and Resume","server":"c114fe92.abb34","deviceId":"321","command":"playTextAndResume","commandArgs":"","x":920,"y":1520,"wires":[[]]},{"id":"9fb25a13.d79928","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":1560,"wires":[["a97c8f27.7c922"]]},{"id":"a97c8f27.7c922","type":"hubitat command","z":"ba419a6a.959718","name":"Play Track","server":"c114fe92.abb34","deviceId":"321","command":"playTrack","commandArgs":"","x":890,"y":1560,"wires":[[]]},{"id":"9affe358.c75a6","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":1600,"wires":[["fed8c59a.b88738"]]},{"id":"fed8c59a.b88738","type":"hubitat command","z":"ba419a6a.959718","name":"Play Track and Restore","server":"c114fe92.abb34","deviceId":"321","command":"playTrackAndRestore","commandArgs":"","x":930,"y":1600,"wires":[[]]},{"id":"629eac5.17d2654","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":1680,"wires":[["225be9b6.331936"]]},{"id":"225be9b6.331936","type":"hubitat command","z":"ba419a6a.959718","name":"Play Track and Resume","server":"c114fe92.abb34","deviceId":"321","command":"playTrackAndResume","commandArgs":"","x":930,"y":1680,"wires":[[]]},{"id":"598238fc.86d138","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":1720,"wires":[["befd158a.8af558"]]},{"id":"befd158a.8af558","type":"hubitat command","z":"ba419a6a.959718","name":"Play Traffic","server":"c114fe92.abb34","deviceId":"321","command":"playTraffic","commandArgs":"","x":890,"y":1720,"wires":[[]]},{"id":"ba9bd4bc.0e78d8","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":1760,"wires":[["e30441ce.e2018"]]},{"id":"e30441ce.e2018","type":"hubitat command","z":"ba419a6a.959718","name":"Play Weather","server":"c114fe92.abb34","deviceId":"321","command":"playWeather","commandArgs":"","x":900,"y":1760,"wires":[[]]},{"id":"9a3a1987.b105e8","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":1800,"wires":[["ece8f92b.c052b8"]]},{"id":"ece8f92b.c052b8","type":"hubitat command","z":"ba419a6a.959718","name":"Previous Track","server":"c114fe92.abb34","deviceId":"321","command":"previousTrack","commandArgs":"","x":900,"y":1800,"wires":[[]]},{"id":"226506aa.4d559a","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":1840,"wires":[["16848bb0.fba264"]]},{"id":"16848bb0.fba264","type":"hubitat command","z":"ba419a6a.959718","name":"Refresh","server":"c114fe92.abb34","deviceId":"321","command":"refresh","commandArgs":"","x":880,"y":1840,"wires":[[]]},{"id":"aea7d334.dde0e","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":1880,"wires":[["909ec651.eae708"]]},{"id":"909ec651.eae708","type":"hubitat command","z":"ba419a6a.959718","name":"Remove Bluetooth","server":"c114fe92.abb34","deviceId":"321","command":"removeBluetooth","commandArgs":"","x":910,"y":1880,"wires":[[]]},{"id":"849c8375.c675d","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":1920,"wires":[["c4a055a1.7f94e8"]]},{"id":"c4a055a1.7f94e8","type":"hubitat command","z":"ba419a6a.959718","name":"Remove Notification","server":"c114fe92.abb34","deviceId":"321","command":"removeNotification","commandArgs":"","x":920,"y":1920,"wires":[[]]},{"id":"caba1115.4315c","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":1980,"wires":[["7ec5e14.e44ed2"]]},{"id":"7ec5e14.e44ed2","type":"hubitat command","z":"ba419a6a.959718","name":"Rename Device","server":"c114fe92.abb34","deviceId":"321","command":"renameDevice","commandArgs":"","x":900,"y":1980,"wires":[[]]},{"id":"4094f31c.45206c","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":2020,"wires":[["3269beea.eff6d2"]]},{"id":"3269beea.eff6d2","type":"hubitat command","z":"ba419a6a.959718","name":"Replay Text","server":"c114fe92.abb34","deviceId":"321","command":"replayText","commandArgs":"","x":890,"y":2020,"wires":[[]]},{"id":"d1b2c946.cdc8b8","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":2060,"wires":[["22d14f82.f1c29"]]},{"id":"22d14f82.f1c29","type":"hubitat command","z":"ba419a6a.959718","name":"Reset Queue","server":"c114fe92.abb34","deviceId":"321","command":"resetQueue","commandArgs":"","x":890,"y":2060,"wires":[[]]},{"id":"148d7dd0.c877e2","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":2100,"wires":[["24bc1426.9bbe6c"]]},{"id":"24bc1426.9bbe6c","type":"hubitat command","z":"ba419a6a.959718","name":"Restore Last Volume","server":"c114fe92.abb34","deviceId":"321","command":"restoreLastVolume","commandArgs":"","x":920,"y":2100,"wires":[[]]},{"id":"669726d.a99dad8","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":2140,"wires":[["b502ef2f.fa2d2"]]},{"id":"b502ef2f.fa2d2","type":"hubitat command","z":"ba419a6a.959718","name":"Restore Track","server":"c114fe92.abb34","deviceId":"321","command":"restoreTrack","commandArgs":"","x":900,"y":2140,"wires":[[]]},{"id":"9691f44c.5dcf28","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":2180,"wires":[["6287fe82.c7601"]]},{"id":"6287fe82.c7601","type":"hubitat command","z":"ba419a6a.959718","name":"Resume Track","server":"c114fe92.abb34","deviceId":"321","command":"resumeTrack","commandArgs":"","x":900,"y":2180,"wires":[[]]},{"id":"7498bd01.a902f4","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":2220,"wires":[["5092028d.ca022c"]]},{"id":"5092028d.ca022c","type":"hubitat command","z":"ba419a6a.959718","name":"Say Birthday","server":"c114fe92.abb34","deviceId":"321","command":"sayBirthday","commandArgs":"","x":890,"y":2220,"wires":[[]]},{"id":"8f330d56.e40e8","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":2260,"wires":[["77b9e150.b9491"]]},{"id":"77b9e150.b9491","type":"hubitat command","z":"ba419a6a.959718","name":"Say Compliment","server":"c114fe92.abb34","deviceId":"321","command":"sayCompliment","commandArgs":"","x":900,"y":2260,"wires":[[]]},{"id":"c7e81a7e.fd2c28","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":2300,"wires":[["dba1e6d8.04e9d8"]]},{"id":"dba1e6d8.04e9d8","type":"hubitat command","z":"ba419a6a.959718","name":"Say Good Morning","server":"c114fe92.abb34","deviceId":"321","command":"sayGoodMorning","commandArgs":"","x":910,"y":2300,"wires":[[]]},{"id":"aa35ef6d.4e05b","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":2340,"wires":[["40c80263.779e6c"]]},{"id":"40c80263.779e6c","type":"hubitat command","z":"ba419a6a.959718","name":"Say Good Night","server":"c114fe92.abb34","deviceId":"321","command":"sayGoodNight","commandArgs":"","x":900,"y":2340,"wires":[[]]},{"id":"9c386eed.efb4a","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":2380,"wires":[["87a9beb7.2bcf"]]},{"id":"87a9beb7.2bcf","type":"hubitat command","z":"ba419a6a.959718","name":"Say Good Bye","server":"c114fe92.abb34","deviceId":"321","command":"sayGoodbye","commandArgs":"","x":900,"y":2380,"wires":[[]]},{"id":"1bbd8c01.3ce5d4","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":2420,"wires":[["ac258e60.b7c02"]]},{"id":"ac258e60.b7c02","type":"hubitat command","z":"ba419a6a.959718","name":"Say Welcome Home","server":"c114fe92.abb34","deviceId":"321","command":"sayWelcomeHome","commandArgs":"","x":920,"y":2420,"wires":[[]]},{"id":"c5d32ae4.d11398","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":2460,"wires":[["e50e671a.0ce038"]]},{"id":"e50e671a.0ce038","type":"hubitat command","z":"ba419a6a.959718","name":"Search Amazon Music","server":"c114fe92.abb34","deviceId":"321","command":"searchAmazonMusic","commandArgs":"","x":920,"y":2460,"wires":[[]]},{"id":"cf17ffdf.c62ce","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":2500,"wires":[["a3de42a7.0000a"]]},{"id":"a3de42a7.0000a","type":"hubitat command","z":"ba419a6a.959718","name":"Search Apple Music","server":"c114fe92.abb34","deviceId":"321","command":"searchAppleMusic","commandArgs":"","x":920,"y":2500,"wires":[[]]},{"id":"3d1dd90b.445dc6","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":2540,"wires":[["6e714de1.f6c0f4"]]},{"id":"6e714de1.f6c0f4","type":"hubitat command","z":"ba419a6a.959718","name":"Search iHeart","server":"c114fe92.abb34","deviceId":"321","command":"searchIheart","commandArgs":"","x":900,"y":2540,"wires":[[]]},{"id":"9312e181.69a6a","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":2580,"wires":[["fb27760c.8e2278"]]},{"id":"fb27760c.8e2278","type":"hubitat command","z":"ba419a6a.959718","name":"Search Music","server":"c114fe92.abb34","deviceId":"321","command":"searchMusic","commandArgs":"","x":900,"y":2580,"wires":[[]]},{"id":"ce075f4c.97f26","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":2620,"wires":[["50d478cc.97c1d8"]]},{"id":"50d478cc.97c1d8","type":"hubitat command","z":"ba419a6a.959718","name":"Search Pandora","server":"c114fe92.abb34","deviceId":"321","command":"searchPandora","commandArgs":"","x":900,"y":2620,"wires":[[]]},{"id":"c8a06ead.1d6c3","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":2660,"wires":[["1b720106.f144cf"]]},{"id":"1b720106.f144cf","type":"hubitat command","z":"ba419a6a.959718","name":"Search Sirius XM","server":"c114fe92.abb34","deviceId":"321","command":"searchSiriusXm","commandArgs":"","x":910,"y":2660,"wires":[[]]},{"id":"d87dca17.871ad8","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":2700,"wires":[["bca1acff.9f6b"]]},{"id":"bca1acff.9f6b","type":"hubitat command","z":"ba419a6a.959718","name":"Search Spotify","server":"c114fe92.abb34","deviceId":"321","command":"searchSpotify","commandArgs":"","x":900,"y":2700,"wires":[[]]},{"id":"d94bc17b.55dfe","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":2740,"wires":[["f6e4e526.268fd8"]]},{"id":"f6e4e526.268fd8","type":"hubitat command","z":"ba419a6a.959718","name":"Search Tune In","server":"c114fe92.abb34","deviceId":"321","command":"searchTuneIn","commandArgs":"","x":900,"y":2740,"wires":[[]]},{"id":"9d8eed64.a62eb","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":2780,"wires":[["86db0c7.06ac6f"]]},{"id":"86db0c7.06ac6f","type":"hubitat command","z":"ba419a6a.959718","name":"Send Alexa App Notification","server":"c114fe92.abb34","deviceId":"321","command":"sendAlexaAppNotification","commandArgs":"","x":940,"y":2780,"wires":[[]]},{"id":"e85f66fb.9083e8","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":2820,"wires":[["18bd71f2.06f25e"]]},{"id":"18bd71f2.06f25e","type":"hubitat command","z":"ba419a6a.959718","name":"Send Announdement to Device","server":"c114fe92.abb34","deviceId":"321","command":"sendAnnouncementToDevices","commandArgs":"","x":950,"y":2820,"wires":[[]]},{"id":"dc7db859.633088","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":2860,"wires":[["360263e6.4f8dcc"]]},{"id":"360263e6.4f8dcc","type":"hubitat command","z":"ba419a6a.959718","name":"Send Test Announcement","server":"c114fe92.abb34","deviceId":"321","command":"sendTestAnnouncement","commandArgs":"","x":930,"y":2860,"wires":[[]]},{"id":"d1ba9e77.b8a75","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":2900,"wires":[["8da3bdf.bc9104"]]},{"id":"8da3bdf.bc9104","type":"hubitat command","z":"ba419a6a.959718","name":"Send Test Announcement All","server":"c114fe92.abb34","deviceId":"321","command":"sendTestAnnouncementAll","commandArgs":"","x":940,"y":2900,"wires":[[]]},{"id":"24614dfa.dea872","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":2940,"wires":[["6413e491.ecf5dc"]]},{"id":"6413e491.ecf5dc","type":"hubitat command","z":"ba419a6a.959718","name":"Set Alarm Volume","server":"c114fe92.abb34","deviceId":"321","command":"setAlarmVolume","commandArgs":"","x":910,"y":2940,"wires":[[]]},{"id":"ceb5a71d.bfa6f8","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":2980,"wires":[["79bab3a6.bf8fdc"]]},{"id":"79bab3a6.bf8fdc","type":"hubitat command","z":"ba419a6a.959718","name":"Set Volume and Speak","server":"c114fe92.abb34","deviceId":"321","command":"setVolumeAndSpeak","commandArgs":"","x":920,"y":2980,"wires":[[]]},{"id":"ddf89ad6.11b348","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":3020,"wires":[["579041e8.4ce4c"]]},{"id":"579041e8.4ce4c","type":"hubitat command","z":"ba419a6a.959718","name":"Set Volume Speak and Restore","server":"c114fe92.abb34","deviceId":"321","command":"setVolumeSpeakAndRestore","commandArgs":"","x":950,"y":3020,"wires":[[]]},{"id":"5b2a3da3.2a1d24","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":3060,"wires":[["9284673c.e9b5f8"]]},{"id":"9284673c.e9b5f8","type":"hubitat command","z":"ba419a6a.959718","name":"Set Wake Word","server":"c114fe92.abb34","deviceId":"321","command":"setWakeWord","commandArgs":"","x":900,"y":3060,"wires":[[]]},{"id":"65c79759.6d8ac8","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":3100,"wires":[["ec303a36.fb3398"]]},{"id":"ec303a36.fb3398","type":"hubitat command","z":"ba419a6a.959718","name":"Speak","server":"c114fe92.abb34","deviceId":"321","command":"speak","commandArgs":"","x":870,"y":3100,"wires":[[]]},{"id":"4bd6dd84.f69174","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":3140,"wires":[["d74c3ee1.7dc92"]]},{"id":"d74c3ee1.7dc92","type":"hubitat command","z":"ba419a6a.959718","name":"Speech Test","server":"c114fe92.abb34","deviceId":"321","command":"speechTest","commandArgs":"","x":890,"y":3140,"wires":[[]]},{"id":"271933e.d40aacc","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":3180,"wires":[["5106d109.2525c"]]},{"id":"5106d109.2525c","type":"hubitat command","z":"ba419a6a.959718","name":"Stop","server":"c114fe92.abb34","deviceId":"321","command":"stop","commandArgs":"","x":870,"y":3180,"wires":[[]]},{"id":"f1383f44.ad717","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":3220,"wires":[["d69c20ed.6ea0e"]]},{"id":"d69c20ed.6ea0e","type":"hubitat command","z":"ba419a6a.959718","name":"Stop All Devices","server":"c114fe92.abb34","deviceId":"321","command":"stopAllDevices","commandArgs":"","x":900,"y":3220,"wires":[[]]},{"id":"ef215191.1b9a6","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":3260,"wires":[["64f0e2bb.362d5c"]]},{"id":"64f0e2bb.362d5c","type":"hubitat command","z":"ba419a6a.959718","name":"Store Current Volume","server":"c114fe92.abb34","deviceId":"321","command":"storeCurrentVolume","commandArgs":"","x":920,"y":3260,"wires":[[]]},{"id":"f9e00ee4.6a106","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":3300,"wires":[["93c2ee1e.10d6f"]]},{"id":"93c2ee1e.10d6f","type":"hubitat command","z":"ba419a6a.959718","name":"Toggle Playback","server":"c114fe92.abb34","deviceId":"321","command":"togglePlayback","commandArgs":"","x":900,"y":3300,"wires":[[]]},{"id":"83d08fd4.60e3a","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":3340,"wires":[["9b959717.746848"]]},{"id":"9b959717.746848","type":"hubitat command","z":"ba419a6a.959718","name":"Unmute","server":"c114fe92.abb34","deviceId":"321","command":"unmute","commandArgs":"","x":880,"y":3340,"wires":[[]]},{"id":"6e6532ec.d1e71c","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":3380,"wires":[["2e63e7b7.f80d68"]]},{"id":"2e63e7b7.f80d68","type":"hubitat command","z":"ba419a6a.959718","name":"Volume Down","server":"c114fe92.abb34","deviceId":"321","command":"volumeDown","commandArgs":"","x":900,"y":3380,"wires":[[]]},{"id":"a39683c7.7d56a","type":"inject","z":"ba419a6a.959718","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":3420,"wires":[["b36e547d.837f58"]]},{"id":"b36e547d.837f58","type":"hubitat command","z":"ba419a6a.959718","name":"Volume Up","server":"c114fe92.abb34","deviceId":"321","command":"volumeUp","commandArgs":"","x":890,"y":3420,"wires":[[]]},{"id":"d3c6af86.a91a2","type":"harmonyws-observer","z":"6d8b559d.06774c","name":"","server":"ccfa4a62.450f58","startup":true,"toContext":false,"context":"global","contextKeyActivity":"activity","contextKeyAutomation":"automation","x":220,"y":80,"wires":[["b563b823.551408"]]},{"id":"77207e2f.9a4ae","type":"harmonyws-activity","z":"6d8b559d.06774c","name":"","server":"ccfa4a62.450f58","activity":"15917749","x":300,"y":240,"wires":[[]]},{"id":"b563b823.551408","type":"debug","z":"6d8b559d.06774c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":440,"y":80,"wires":[]},{"id":"fa25de70.d2cd","type":"harmonyws-command","z":"6d8b559d.06774c","name":"","server":"ccfa4a62.450f58","activity":"14144391","command":"14144391:InputNext","hold":"0","repeat":"2","delay":"1","x":310,"y":320,"wires":[[]]},{"id":"c8c6cb0f.384eb8","type":"inject","z":"6d8b559d.06774c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":240,"wires":[["77207e2f.9a4ae"]]},{"id":"cbfe29f2.6e4d68","type":"inject","z":"6d8b559d.06774c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":340,"wires":[["fa25de70.d2cd"]]},{"id":"c4f95d8f.be845","type":"harmonyws-command","z":"6d8b559d.06774c","name":"","server":"ccfa4a62.450f58","activity":"15917749","command":"29804884:DirectionLeft","hold":"0","repeat":"1","delay":"0","x":310,"y":400,"wires":[[]]},{"id":"5e8bf0a3.ba7ae","type":"inject","z":"6d8b559d.06774c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":440,"wires":[["c4f95d8f.be845"]]},{"id":"7f2335.1b073ccc","type":"debug","z":"ba419a6a.959718","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":220,"wires":[]},{"id":"9a596389.c0e56","type":"debug","z":"ba419a6a.959718","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1090,"y":280,"wires":[]},{"id":"55ea9fa0.43398","type":"inject","z":"fae21b1.b95d4e8","name":"On","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":20,"wires":[["1c342881.8b1f77"]]},{"id":"2c6233c8.76edfc","type":"hubitat command","z":"fae21b1.b95d4e8","name":"Mike Credenza Light On","server":"c114fe92.abb34","deviceId":"388","command":"on","commandArgs":"","x":810,"y":20,"wires":[[]]},{"id":"e65e093f.c6d548","type":"hubitat command","z":"fae21b1.b95d4e8","name":"Mike Credenza Light Off","server":"c114fe92.abb34","deviceId":"388","command":"off","commandArgs":"","x":890,"y":160,"wires":[[]]},{"id":"9a5498a1.373a58","type":"hubitat device","z":"fae21b1.b95d4e8","name":"Mike Credenza Light","server":"c114fe92.abb34","deviceId":"550","attribute":"switch","sendEvent":true,"x":120,"y":200,"wires":[["5992c4b3.5b463c"]]},{"id":"d4400d50.c105c","type":"gate","z":"fae21b1.b95d4e8","name":"","controlTopic":"control","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","persist":false,"x":490,"y":100,"wires":[["1c342881.8b1f77"]]},{"id":"d488a535.63a748","type":"inject","z":"fae21b1.b95d4e8","name":"","topic":"control","payload":"toggle","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":100,"wires":[["d4400d50.c105c"]]},{"id":"5992c4b3.5b463c","type":"switch","z":"fae21b1.b95d4e8","name":"","property":"payload.value","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":330,"y":200,"wires":[["d4400d50.c105c","483f1815.877748"],["7f781c42.591534"]]},{"id":"da9049f0.563c08","type":"inject","z":"fae21b1.b95d4e8","name":"Off","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":510,"y":160,"wires":[["e65e093f.c6d548","43a05db3.841d64","7f781c42.591534"]]},{"id":"86f7e6b6.b95468","type":"hubitat command","z":"fae21b1.b95d4e8","name":"Game Room Floor Lamp On","server":"c114fe92.abb34","deviceId":"357","command":"on","commandArgs":"","x":820,"y":60,"wires":[[]]},{"id":"1c342881.8b1f77","type":"hubitat command","z":"fae21b1.b95d4e8","name":"Office Desk Lamp On","server":"c114fe92.abb34","deviceId":"550","command":"on","commandArgs":"","x":800,"y":100,"wires":[[]]},{"id":"43a05db3.841d64","type":"hubitat command","z":"fae21b1.b95d4e8","name":"Game Room Floor Lamp Off","server":"c114fe92.abb34","deviceId":"357","command":"off","commandArgs":"","x":900,"y":200,"wires":[[]]},{"id":"7f781c42.591534","type":"hubitat command","z":"fae21b1.b95d4e8","name":"Office Desk Lamp Off","server":"c114fe92.abb34","deviceId":"550","command":"off","commandArgs":"","x":880,"y":240,"wires":[[]]},{"id":"a4e479.f8d30b88","type":"ui_template","z":"2fbd0a9c.00e236","group":"49ec1688.bb5d58","name":"css etc","order":10,"width":"0","height":"0","format":"<style>\n\n.cellGreen \n{\nbackground-color: #ffdddd !important;\n}\n\n  .filled { \n      height: 100% !important;\n\n      padding: 0 !important;\n      margin: 0 !important;\n  }\n  .nr-dashboard-template {\n      padding: 0;\n      margin: 0;\n  }\n  \n  .rounded {\n  border-radius: 12px 12px 12px 12px;\n}\n \n   .bigfont {\n  font-size: 18px;\n}\n\n   .smallfont {\n  font-size: 12px;\n}\n \n\n  \n.zui-table {\n    border: solid 1px #DDEEEE;\n    border-collapse: collapse;\n    border-spacing: 0;\n    font: normal 10px Arial, sans-serif;\n    outline: none;\n}\n.zui-table thead th {\n    width: 100%;\n    height:50%;\n    background-color: #99bbff;\n    border: solid 1px #DDEEEE;\n    color: #336B6B;\n    padding: 7px 3px 5px 3px;\n    text-align: center;\n    text-shadow: 1px 1px 1px #fff;\n}\n.zui-table tbody td {\n    width: 100%;\n    height:50%;\n    border: solid 1px #333;\n    color: #333;\n    text-align: center;\n    padding: 6px 3px 9px 3px;\n    text-shadow: 1px 1px 1px #fff;\n}\n.zui-table-rounded {\n    border: none;\n}\n.zui-table-rounded thead th {\n    background-color: #77aaff;\n    border: none;\n    text-shadow: 1px 1px 1px #ccc;\n    color: #333;\n}\n.zui-table-rounded thead th:first-child {\n    border-radius: 10px 0 0 0;\n}\n.zui-table-rounded thead th:last-child {\n    border-radius: 10px 10px 0px 0px;\n}\n.zui-table-rounded tbody td {\n    border: none;\n    border-top: solid 1px #957030;\n    background-color: #aaddff;\n}\n.zui-table-rounded tbody tr:last-child td:first-child {\n    border-radius: 10px 10px 0 0;\n}\n.zui-table-rounded tbody tr:last-child td:last-child {\n    border-radius: 0 0 10px 10px;\n}  \n</style>\n\n<script>\nvar current=1;\n\n$('.vibrate').on('click', function() {\n  navigator.vibrate(100);\n});\n\nfunction restore_bg(x) {\n            $(this).css(\"background-color\", x);\n    };\n\n$('.touched').on('mousedown', function() {\n    \n    var x= $(this).css(\"background-color\");\n    $(this).css(\"background-color\", \"yellow\");\n    \n    setTimeout(restore_bg.bind(this,x),50);\n    navigator.vibrate(80);\n    });\n    \nvar myStatus=\"Nowt\";\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":560,"y":100,"wires":[[]]},{"id":"963693d4.3e717","type":"ui_template","z":"2fbd0a9c.00e236","group":"49ec1688.bb5d58","name":"Settings page","order":2,"width":"6","height":"6","format":"<style>\n.thedays { vertical-align:bottom; height:54px; }\n.the2px  { background-color:black; height:2px; }\n.theblocks {width:100%; height:0%; background-color:green; }\n.greybuttons { background-color:#dddddd !important; width:48px; }\n.thetemps { font-size:70%; color:#888888 !important; }\n.smallheadings { color:black; font-size:80%; }\n\n</style>\n\n<script>\nvar thedays = [\"SUNDAY\", \"MONDAY\", \"TUESDAY\", \"WEDNESDAY\", \"THURSDAY\", \"FRIDAY\", \"SATURDAY\"];\n\nvar last = 1;\n\nfunction bar(mm, val) {\n  if (val == 14) {\n    $(mm).height(\"12%\");\n    $(mm).css('background-color', '#6666ff');\n  } //blue\n  if (val == 15) {\n    $(mm).height(\"16%\");\n    $(mm).css('background-color', '#5577ff');\n  }\n  if (val == 16) {\n    $(mm).height(\"20%\");\n    $(mm).css('background-color', '#5599ff');\n  }\n  if (val == 17) {\n    $(mm).height(\"24%\");\n    $(mm).css('background-color', '#55ccdd');\n  } // cyan\n  if (val == 18) {\n    $(mm).height(\"28%\");\n    $(mm).css('background-color', '#55ddaa');\n  }\n  if (val == 19) {\n    $(mm).height(\"32%\");\n    $(mm).css('background-color', '#55dd55');\n  }\n  if (val == 20) {\n    $(mm).height(\"36%\");\n    $(mm).css('background-color', '#55dd55');\n  } // green\n  if (val == 21) {\n    $(mm).height(\"40%\");\n    $(mm).css('background-color', '#55dd55');\n  }\n  if (val == 22) {\n    $(mm).height(\"44%\");\n    $(mm).css('background-color', '#aadd55');\n  }\n  if (val == 23) {\n    $(mm).height(\"48%\");\n    $(mm).css('background-color', '#dddd55');\n  } // yellow\n  if (val == 24) {\n    $(mm).height(\"52%\");\n    $(mm).css('background-color', '#ffaa55');\n  }\n  if (val == 25) {\n    $(mm).height(\"56%\");\n    $(mm).css('background-color', '#ff8855');\n  }\n  if (val == 26) {\n    $(mm).height(\"60%\");\n    $(mm).css('background-color', '#ff7777');\n  } // red\n\n}\n\nfunction selec(val, sta) {\n  var w = \"#td\" + val;\n  if (sta) $(w).css('background-color', 'magenta');\n  else $(w).css('background-color', 'black');\n}\n\n(function(scope) {\n  scope.$watch('msg', function(msg) {\n    selec(last, 0);\n    last = msg.selector;\n    selec(last, 1);\n    for (var x = 0; x < 24; x++) {\n      var w = \"#t\" + x;\n      bar(w, msg.timing[((msg.days - 1) * 24) + x]);\n      var v = \"#v\" + x;\n      $(v).text(msg.timing[((msg.days - 1) * 24) + x] + \"C\")\n    }\n    for (var x = 0; x < 2; x++) {\n      var w = \"#s\" + x;\n      $(w).text(msg.timing[168 + x] + \"C\");\n    }\n    $(\"#s2\").text(msg.timing[170] + \"%\");\n    \n    $(\"#d0\").text(thedays[msg.days - 1]);\n    if ((last > 4) && (last < 29))\n      $(\"#current\").text(msg.timing[((msg.days - 1) * 24) + last - 5] + \"C\");\n    else\n      $(\"#current\").text(\"-\");\n\n   myStatus=msg.myStatus;\n   if (msg.foryou != \"\")\n   {\n       $(\"#info\").text(msg.foryou);\n       var tm = setTimeout(function() {\n             $(\"#info\").text(myStatus);\n             clearTimeout(tm);\n       }, 3000);\n    }\n  });\n})(scope);\n\n</script>\n<table width=\"100%\">\n  <tr style=\"height:2px\">\n    <td colspan=12 style=\"background-color:black;height:5px;\"></td>\n  </tr>\n\n  <tr>\n    <td colspan=6>\n      <center><span class=\"smallheadings\">Day</span></center>\n    </td>\n    <td colspan=2>\n      <center><span class=\"smallheadings\">Frost</span></center>\n    </td>\n    <td colspan=2>\n      <center><span class=\"smallheadings\">Away</span></center>\n    </td>\n    <td colspan=2>\n      <center><span class=\"smallheadings\">Dehum</span></center>\n    </td>\n  </tr>\n\n  <tr>\n    <td ng-click=\"send({payload: '29'})\" colspan=6>\n      <center><span id=\"d0\" style=\"color:blue;font-size:110%\">MONDAY</span></center>\n    </td>\n    <td ng-click=\"send({payload: '1'})\" colspan=2>\n      <center><span id=\"s0\" style=\"color:blue;font-size:110%\">14</span></center>\n    </td>\n    <td ng-click=\"send({payload: '2'})\" colspan=2>\n      <center><span id=\"s1\" style=\"color:blue;font-size:110%\">20</span></center>\n    </td>\n    <td ng-click=\"send({payload: '30'})\" colspan=2>\n      <center><span id=\"s2\" style=\"color:blue;font-size:110%\">40</span></center>\n    </td>\n  </tr>\n\n  <tr style=\"height:2px\">\n    <td id=\"td29\" colspan=6 style=\"background-color:black;height:2px;\"></td>\n    <td id=\"td1\" colspan=2 style=\"background-color:black;height:2px;\"></td>\n    <td id=\"td2\" colspan=2 style=\"background-color:black;height:2px;\"></td>\n    <td id=\"td30\" colspan=2 style=\"background-color:black;height:2px;\"></td>\n  </tr>\n\n  <tr>\n    <td ng-click=\"send({payload: '5'})\" class=\"thedays\"><span id=\"v0\" class=\"thetemps\"></span>\n      <div id=\"t0\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '6'})\" class=\"thedays\"><span id=\"v1\" class=\"thetemps\"></span>\n      <div id=\"t1\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '7'})\" class=\"thedays\"><span id=\"v2\" class=\"thetemps\"></span>\n      <div id=\"t2\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '8'})\" class=\"thedays\"><span id=\"v3\" class=\"thetemps\"></span>\n      <div id=\"t3\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '9'})\" class=\"thedays\"><span id=\"v4\" class=\"thetemps\"></span>\n      <div id=\"t4\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '10'})\" class=\"thedays\"><span id=\"v5\" class=\"thetemps\"></span>\n      <div id=\"t5\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '11'})\" class=\"thedays\"><span id=\"v6\" class=\"thetemps\"></span>\n      <div id=\"t6\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '12'})\" class=\"thedays\"><span id=\"v7\" class=\"thetemps\"></span>\n      <div id=\"t7\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '13'})\" class=\"thedays\"><span id=\"v8\" class=\"thetemps\"></span>\n      <div id=\"t8\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '14'})\" class=\"thedays\"><span id=\"v9\" class=\"thetemps\"></span>\n      <div id=\"t9\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '15'})\" class=\"thedays\"><span id=\"v10\" class=\"thetemps\"></span>\n      <div id=\"t10\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '16'})\" class=\"thedays\"><span id=\"v11\" class=\"thetemps\"></span>\n      <div id=\"t11\" class=\"theblocks\"></div>\n    </td>\n  </tr>\n\n  <tr style=\"height:2px\">\n    <td id=\"td5\" class=\"the2px\"></td>\n    <td id=\"td6\" class=\"the2px\"></td>\n    <td id=\"td7\" class=\"the2px\"></td>\n    <td id=\"td8\" class=\"the2px\"></td>\n    <td id=\"td9\" class=\"the2px\"></td>\n    <td id=\"td10\" class=\"the2px\"></td>\n    <td id=\"td11\" class=\"the2px\"></td>\n    <td id=\"td12\" class=\"the2px\"></td>\n    <td id=\"td13\" class=\"the2px\"></td>\n    <td id=\"td14\" class=\"the2px\"></td>\n    <td id=\"td15\" class=\"the2px\"></td>\n    <td id=\"td16\" class=\"the2px\"></td>\n  </tr>\n\n  <tr>\n    <td>0</td>\n    <td>1</td>\n    <td>2</td>\n    <td>3</td>\n    <td>4</td>\n    <td>5</td>\n    <td>6</td>\n    <td>7</td>\n    <td>8</td>\n    <td>9</td>\n    <td>10</td>\n    <td>11</td>\n  </tr>\n\n  <tr>\n    <td ng-click=\"send({payload: '17'})\" class=\"thedays\"><span id=\"v12\" class=\"thetemps\"></span>\n      <div id=\"t12\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '18'})\" class=\"thedays\"><span id=\"v13\" class=\"thetemps\"></span>\n      <div id=\"t13\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '19'})\" class=\"thedays\"><span id=\"v14\" class=\"thetemps\"></span>\n      <div id=\"t14\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '20'})\" class=\"thedays\"><span id=\"v15\" class=\"thetemps\"></span>\n      <div id=\"t15\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '21'})\" class=\"thedays\"><span id=\"v16\" class=\"thetemps\"></span>\n      <div id=\"t16\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '22'})\" class=\"thedays\"><span id=\"v17\" class=\"thetemps\"></span>\n      <div id=\"t17\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '23'})\" class=\"thedays\"><span id=\"v18\" class=\"thetemps\"></span>\n      <div id=\"t18\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '24'})\" class=\"thedays\"><span id=\"v19\" class=\"thetemps\"></span>\n      <div id=\"t19\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '25'})\" class=\"thedays\"><span id=\"v20\" class=\"thetemps\"></span>\n      <div id=\"t20\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '26'})\" class=\"thedays\"><span id=\"v21\" class=\"thetemps\"></span>\n      <div id=\"t21\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '27'})\" class=\"thedays\"><span id=\"v22\" class=\"thetemps\"></span>\n      <div id=\"t22\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '28'})\" class=\"thedays\"><span id=\"v23\" class=\"thetemps\"></span>\n      <div id=\"t23\" class=\"theblocks\"></div>\n    </td>\n  </tr>\n\n  <tr style=\"height:2px\">\n    <td id=\"td17\" class=\"the2px\"></td>\n    <td id=\"td18\" class=\"the2px\"></td>\n    <td id=\"td19\" class=\"the2px\"></td>\n    <td id=\"td20\" class=\"the2px\"></td>\n    <td id=\"td21\" class=\"the2px\"></td>\n    <td id=\"td22\" class=\"the2px\"></td>\n    <td id=\"td23\" class=\"the2px\"></td>\n    <td id=\"td24\" class=\"the2px\"></td>\n    <td id=\"td25\" class=\"the2px\"></td>\n    <td id=\"td26\" class=\"the2px\"></td>\n    <td id=\"td27\" class=\"the2px\"></td>\n    <td id=\"td28\" class=\"the2px\"></td>\n  </tr>\n\n  <tr>\n    <td>12</td>\n    <td>13</td>\n    <td>14</td>\n    <td>15</td>\n    <td>16</td>\n    <td>17</td>\n    <td>18</td>\n    <td>19</td>\n    <td>20</td>\n    <td>21</td>\n    <td>22</td>\n    <td>23</td>\n  </tr>\n  \n  <tr height=\"4px\">\n    <td colspan=\"12\"></td>\n  </tr>\n\n\n  <tr height=\"22px\">\n    <td colspan=2 bgcolor=\"#dddddd\"><span class=\"smallheadings\">&nbsp;Status:</span></td>\n\n    <td colspan=10 bgcolor=\"#dddddd\">\n      <center><span id=\"info\" class=\"smallheadings\">OK</span></center>\n    </td>\n  </tr>\n\n  <tr height=\"6px\">\n    <td colspan=\"12\"></td>\n  </tr>\n\n  <tr style=\"height:48px\">\n    <td colspan=2>\n      <md-button class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"send({payload: 'd'})\">\n        <img style=\"outline : none;\" ng-src=\"{{(msg.payload)?'/myicons/png/48x48/actions/arrow-left-double-2.png':'/myicons/png/48x48/actions/arrow-left-double-2.png'}}\" height=\"36px\" />\n      </md-button>\n    </td>\n\n    <td colspan=2>\n      <center><span id=\"current\" style=\"color:black;font-size:120%\">-</span></center>\n    </td>\n\n    <td colspan=2>\n      <md-button class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"send({payload: 'u'})\">\n        <img style=\"outline : none;\" ng-src=\"{{(msg.payload)?'/myicons/png/48x48/actions/arrow-right-double-2.png':'/myicons/png/48x48/actions/arrow-right-double-2.png'}}\" height=\"36px\" />\n      </md-button>\n    </td>\n\n    <td colspan=2>\n      <md-button class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"send({payload: 'r'})\">\n        <img style=\"outline : none;\" ng-src=\"{{(msg.payload)?'/myicons/png/48x48/actions/edit-copy-4.png':'/myicons/png/48x48/actions/edit-copy-4.png'}}\" height=\"36px\" />\n      </md-button>\n    </td>\n\n    <td colspan=2>\n      <md-button class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"send({payload: 's'})\">\n        <img style=\"outline : none;\" ng-src=\"{{(msg.payload)?'/myicons/png/48x48/actions/document-save-5.png':'/myicons/png/48x48/actions/document-save-5.png'}}\" height=\"36px\" />\n      </md-button>\n    </td>\n\n    <td colspan=2>\n      <md-button class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"send({payload: 'c'})\">\n        <img style=\"outline : none;\" ng-src=\"{{(msg.payload)?'/myicons/png/48x48/actions/dialog-cancel-5.png':'/myicons/png/48x48/actions/dialog-cancel-5.png'}}\" height=\"36px\" />\n      </md-button>\n    </td>\n    <td colspan=1></td>\n  </tr>\n</table>\n\n","storeOutMessages":false,"fwdInMessages":false,"x":800,"y":80,"wires":[["c1e770af.28b16","89d82d21.12eb6","4eb22d9e.a86c54"]]},{"id":"c1e770af.28b16","type":"function","z":"2fbd0a9c.00e236","name":"Process controls","func":"if ( typeof context.days == 'undefined' ) context.days=1;\nif ( typeof context.selector == 'undefined' ) context.selector=1;\nif ( typeof context.saving == 'undefined' ) context.saving=0;\nif ( typeof context.global.incomingTemperature == 'undefined' ) context.global.incomingTemperature=0;\nif ( typeof context.global.incomingHumidity == 'undefined' ) context.global.incomingHumidity=40;\nif ( typeof context.global.hold == 'undefined' ) context.global.hold=0;\nif ( typeof context.global.away == 'undefined' ) context.global.away=0;\nif ( typeof context.global.manual == 'undefined' ) context.global.manual=0;\nif ( typeof context.global.setTemperature == 'undefined' ) context.global.setTemperature=0;\nif ( typeof context.global.manualTimer == 'undefined' ) context.global.manualTimer=0;\nif ( typeof context.global.myStatus== 'undefined')  context.global.myStatus=\"\";\nif ( typeof context.global.timing == 'undefined' ) \n    {\n        context.global.timing=[\n                        14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,\n                        14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,\n                        14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,\n                        14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,\n                        14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,\n                        14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,\n                        14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,\n                        8,14,40,0\n                        ];\n        context.saving=0;  \n        msg.payload=\"anything\";  msg.foryou=\"Restoring\"; return([null,null,msg]);\n    }\nvar timing=global.get(\"timing\");\n\nswitch (msg.payload)\n    {\n    case \"u\" :  if ((context.selector>4)&&(context.selector<29))\n                {\n                    timing[((context.days-1)*24)+context.selector-5]++; \n                    if (timing[((context.days-1)*24)+context.selector-5]>26) timing[((context.days-1)*24)+context.selector-5]=26;\n                    msg.foryou=\"Incremented temperature\";\n                }\n                if (context.selector==1) { if (timing[168]<26) {  timing[168]++; msg.foryou=\"Incremented frost setting 1 degree\"; } else msg.foryou=\"Hit limit\"; }\n                if (context.selector==2) { if (timing[169]<26) {  timing[169]++; msg.foryou=\"Incremented away setting 1 degree\"; } else msg.foryou=\"Hit limit\"; }\n                if (context.selector==29) { if (context.days<7) { context.days++; msg.foryou=\"Forward one day\";} else msg.foryou=\"End of days!!\"; }\n                if (context.selector==30) { if (timing[170]<60) {  timing[170]++; msg.foryou=\"Incremented humidity setting 1%\"; } else msg.foryou=\"Hit limit\"; }\n\n                break;\n    case \"d\" :  if ((context.selector>4)&&(context.selector<29))\n                {\n                    timing[((context.days-1)*24)+context.selector-5]--; \n                    if (timing[((context.days-1)*24)+context.selector-5]<14) timing[((context.days-1)*24)+context.selector-5]=14;\n                    msg.foryou=\"Decremented temperature\";\n                }\n                if (context.selector==1) { if (timing[168]>8) { timing[168]--; msg.foryou=\"Decremented frost setting 1 degree\"; } else msg.foryou=\"Hit limit\"; }\n                if (context.selector==2) { if (timing[169]>8) { timing[169]--; msg.foryou=\"Decremented away setting 1 degree\"; } else msg.foryou=\"Hit limit\"; }\n                if (context.selector==29) { if (context.days>1) { context.days--;  msg.foryou=\"Backward one day\";} else msg.foryou=\"Beginning of days!!\";  }\n                if (context.selector==30) { if (timing[170]>30) { timing[170]--; msg.foryou=\"Decremented humidity setting 1%\"; } else msg.foryou=\"Hit limit\"; }\n\n                break;\n    case 'r' :  if ((context.selector>=5)&&(context.selector<28))\n                        {\n                         timing[((context.days-1)*24)+context.selector-4]=timing[((context.days-1)*24)+context.selector-5];   \n                         context.selector++;\n                         msg.foryou=\"Copied settings to the next hour slot\";\n                        }\n                if ((context.selector==29)&&(context.days<7))\n                        {\n                         for (var a=0;a<24;a++)\n                            {\n                             timing[((context.days)*24)+a]=timing[((context.days-1)*24)+a];   \n                            }\n                         context.days++;\n                         msg.foryou=\"Copied a complete day's settings\";\n                        }\n                break;\n    case 's': context.saving=0;  msg.foryou=\"Settings saved to disk\"; break;\n    case '1':\n    case '2':\n    case '3':\n    case '4':\n    case '5':\n    case '6':\n    case '7':\n    case '8':\n    case '9':\n    case '10':\n    case '11':\n    case '12':\n    case '13':\n    case '14':\n    case '15':\n    case '16':\n    case '17':\n    case '18':\n    case '19':\n    case '20':\n    case '21':\n    case '22':\n    case '23':\n    case '24':\n    case '25':\n    case '26':\n    case '27':\n    case '28':\n    case '29':\n    case '30': context.selector=parseInt(msg.payload);\n               if (msg.payload=='1') msg.foryou=\"Frost temperature selection\"; \n               else if (msg.payload=='2') msg.foryou=\"Away temperature selection\";\n               else if (msg.payload=='29') msg.foryou=\"Day selection\";\n               else if (msg.payload=='30') msg.foryou=\"Humidity selection\";\n               else  msg.foryou=\"Selected hour period \" + (parseInt(msg.payload)-4);\n    break;\n    case 'c' : msg.payload=\"anything\";  msg.foryou=\"Changes cancelled\"; node.send([null,null,msg]);\n    }\n\nmsg.temperatures=context.temperatures;\nmsg.timing=timing;\nmsg.days=context.days;\nmsg.selector=context.selector;\n\n\nmsg.myStatus=context.global.myStatus;\n\nnode.send([msg,null,null]);\n\nif (context.saving===0) \n    { \n       msg.topic=\"\";\n        msg.timing=\"\";\n        msg.payload=JSON.stringify(timing);\n        node.send([null,msg,null]); \n        context.saving=1;\n    }\n    msg.foryou=\"\";\n","outputs":"3","noerr":0,"x":810,"y":140,"wires":[["963693d4.3e717"],["37a60e55.d1ced2"],["4e6ef7e0.d2a848"]]},{"id":"8d6cd7b5.ecd148","type":"inject","z":"2fbd0a9c.00e236","name":"Once only before Mike Turned off","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":640,"y":140,"wires":[["c1e770af.28b16","4e6ef7e0.d2a848"]]},{"id":"94fa97b1.4d32f8","type":"inject","z":"2fbd0a9c.00e236","name":"Every minute","topic":"","payload":"","payloadType":"str","repeat":"60","crontab":"","once":false,"x":600,"y":240,"wires":[["89d82d21.12eb6","c1f5b3ce.e0796","c1e770af.28b16"]]},{"id":"89d82d21.12eb6","type":"function","z":"2fbd0a9c.00e236","name":"Process heat","func":"var timing=global.get(\"timing\");\nvar now = new Date();\nmsg.payload=timing[(now.getDay()*24)+now.getHours()];\nmsg.frost=timing[168];\nmsg.away=timing[169];\nmsg.setHumidity=timing[170];\n\nmsg.temperature=global.get(\"incomingTemperature\");\nmsg.humidity=global.get(\"incomingHumidity\");\n\nmsg.set=msg.payload;\nif (global.get(\"manualTimer\")) global.set(\"manualTimer\",global.get(\"manualTimer\")-1);\nelse global.set(\"manual\",0);\nmsg.desired=msg.set;\nglobal.set(\"setTemperature\",msg.desired);\nmsg.desired+=global.get(\"manual\");\nif (global.get(\"frost\")) { msg.desired=global.get(\"timing\")[168]; global.set(\"frost\",global.get(\"frost\")-1); }\nif (global.get(\"away\")) { msg.desired=global.get(\"timing\")[169]; global.set(\"away\",global.get(\"away\")-1); }\n\nif (msg.desired>msg.temperature) msg.heatRelay=1; else msg.heatRelay=0;\nif (msg.humidity>msg.setHumidity) msg.humidityRelay=1; else msg.humidityRelay=0;\n\n//context.global.myStatus=\"Heating: \" + ((msg.heatRelay)? \"ON\":\"OFF\") + \" Dehumidifier: \" + ((msg.humidityRelay)? \"ON\":\"OFF\");\nglobal.set(\"myStatus\",\"-\");\n\nnode.status({fill:\"blue\",shape:\"dot\",text:\"Set point \" + msg.desired + \"c - Actual \" + msg.temperature +\"c\"});\n\nif ( typeof msg.value == 'undefined' ) msg.value=global.get(\"incomingTemperature\");\n\nnode.send(msg);\n\n\n\n\n\n","outputs":"1","noerr":0,"x":790,"y":240,"wires":[["9adbceca.d58d6","10814add.151335","1f352058.32685","1cd69a3f.d9c5a6","ca3a8f93.e82d8"]]},{"id":"37a60e55.d1ced2","type":"file","z":"2fbd0a9c.00e236","name":"backup","filename":"/CS/Thermotest/petesstatlog.log","appendNewline":true,"createDir":true,"overwriteFile":"true","x":1020,"y":100,"wires":[[]]},{"id":"4e6ef7e0.d2a848","type":"file in","z":"2fbd0a9c.00e236","name":"Restore","filename":"/CS/Thermotest/petesstatlog.log","format":"utf8","x":1020,"y":160,"wires":[["1411fadc.9e6d35"]]},{"id":"1411fadc.9e6d35","type":"function","z":"2fbd0a9c.00e236","name":"Restore data from SD","func":"context.global.timing=JSON.parse(msg.payload);\nmsg.payload=\"\";\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":200,"wires":[["c1e770af.28b16"]]},{"id":"c8a56b25.ebf0d8","type":"inject","z":"2fbd0a9c.00e236","name":"incoming humidity 40%","topic":"","payload":"40","payloadType":"str","repeat":"","crontab":"","once":false,"x":180,"y":160,"wires":[["9b65df8b.04a31"]]},{"id":"3120c3db.f757cc","type":"inject","z":"2fbd0a9c.00e236","name":"incoming humidity 50%","topic":"","payload":"50","payloadType":"str","repeat":"","crontab":"","once":false,"x":180,"y":200,"wires":[["9b65df8b.04a31"]]},{"id":"6f15372d.b2b0f8","type":"function","z":"2fbd0a9c.00e236","name":"Store temperature","func":"global.set(\"incomingTemperature\",msg.payload);","outputs":"0","noerr":0,"x":390,"y":100,"wires":[]},{"id":"9b65df8b.04a31","type":"function","z":"2fbd0a9c.00e236","name":"Store humidity","func":"global.set(\"incomingHumidity\",msg.payload);","outputs":"0","noerr":0,"x":380,"y":180,"wires":[]},{"id":"c221e06c.e0c3c","type":"inject","z":"2fbd0a9c.00e236","name":"Test \"Away\" 2 minutes","topic":"","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"x":180,"y":240,"wires":[["38ff242e.4ca86c"]]},{"id":"21b344f2.ccfbbc","type":"inject","z":"2fbd0a9c.00e236","name":"Test \"Away\" clear","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":280,"wires":[["38ff242e.4ca86c"]]},{"id":"2380cf81.00b4e","type":"inject","z":"2fbd0a9c.00e236","name":"Test \"Frost\" 2 minutes","topic":"","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"x":180,"y":320,"wires":[["5509261c.24fd28"]]},{"id":"7b34c6f2.936458","type":"inject","z":"2fbd0a9c.00e236","name":"Test \"Frost\" clear","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":360,"wires":[["5509261c.24fd28"]]},{"id":"5509261c.24fd28","type":"function","z":"2fbd0a9c.00e236","name":"Store \"Hold\"","func":"global.set(\"frost\",msg.payload);","outputs":"0","noerr":0,"x":370,"y":360,"wires":[]},{"id":"38ff242e.4ca86c","type":"function","z":"2fbd0a9c.00e236","name":"Store \"Away\"","func":"global.set(\"away\",msg.payload);","outputs":"0","noerr":0,"x":370,"y":260,"wires":[]},{"id":"44e1b052.ea277","type":"inject","z":"2fbd0a9c.00e236","name":"sample forecast","topic":"","payload":"Dry, 2c with chance of snow","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":400,"wires":[["83396a33.cbcf48"]]},{"id":"de7f1344.e4f33","type":"inject","z":"2fbd0a9c.00e236","name":"Sample forecast","topic":"","payload":"Wet, 12c, possibly rain tonight","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":440,"wires":[["83396a33.cbcf48"]]},{"id":"83396a33.cbcf48","type":"function","z":"2fbd0a9c.00e236","name":"Store forecast","func":"global.set(\"forecast\",msg.payload);","outputs":"0","noerr":0,"x":380,"y":420,"wires":[]},{"id":"355abad1.047f86","type":"function","z":"2fbd0a9c.00e236","name":"Heat relay","func":"if (msg.heatRelay==1)\nnode.status({fill:\"red\",shape:\"dot\",text:\"Heat ON\"});\nelse\nnode.status({fill:\"black\",shape:\"dot\",text:\"Heat OFF\"});\n","outputs":"0","noerr":0,"x":1090,"y":260,"wires":[]},{"id":"b4ad4205.e8e67","type":"function","z":"2fbd0a9c.00e236","name":"Handle SET","func":"// here we set manual override controls - valid for 60 minutes after last change.\n\nif (global.get(\"away\")===0)\n{\n    if (msg.payload==\"u\") { global.set(\"manualTimer\",60); if (global.get(\"manual\")<10) global.set(\"manual\",global.get(\"manual\")+1); }\n    if (msg.payload==\"d\") { global.set(\"manualTimer\",60); if (global.get(\"manual\")>-10) global.set(\"manual\",global.get(\"manual\")-1); }\n    if (msg.payload==\"a\") { global.set(\"manualTimer\",0); global.set(\"manual\",0); }\n}\n\nif (global.get(\"manual\")===0) msg.colour=\"#aaddff\"; else msg.colour=\"#aaffaa\";\n\nmsg.desired= global.get(\"setTemperature\") + global.get(\"manual\");\nif (global.get(\"frost\")) { msg.desired=global.get(\"timing\")[168]; msg.colour=\"#ffbbbb\"; }\nif (global.get(\"away\"))  { msg.desired=global.get(\"timing\")[169];msg.colour=\"#ffbbbb\";  }\nmsg.value=msg.desired;\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":420,"wires":[["10814add.151335","89d82d21.12eb6"]]},{"id":"b570f469.5927d8","type":"ui_template","z":"2fbd0a9c.00e236","group":"49ec1688.bb5d58","name":"up","order":4,"width":"1","height":"1","format":"  <md-button  class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"send({payload: 'u'})\"> \n                <img style=\"outline : none;\" \n                             ng-src=\"{{(msg.payload)?'/myicons/png/48x48/actions/arrow-right-2.png':'/myicons/png/48x48/actions/arrow-right-2.png'}}\" \n                              height=\"36px\"\n                />\n</md-button> ","storeOutMessages":false,"fwdInMessages":false,"x":550,"y":420,"wires":[["b4ad4205.e8e67","41bc5126.424dc"]]},{"id":"2a598657.de086a","type":"ui_template","z":"2fbd0a9c.00e236","group":"49ec1688.bb5d58","name":"down","order":3,"width":"1","height":"1","format":"  <md-button  class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"send({payload: 'd'})\"> \n                <img style=\"outline : none;\" \n                             ng-src=\"{{(msg.payload)?'/myicons/png/48x48/actions/arrow-down-2.png':'/myicons/png/48x48/actions/arrow-left-2.png'}}\" \n                              height=\"36px\"\n                />\n</md-button> ","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":550,"y":460,"wires":[["b4ad4205.e8e67","41bc5126.424dc"]]},{"id":"62b759fb.da1158","type":"function","z":"2fbd0a9c.00e236","name":"Handle AWAY","func":"// here we set manual override controls - valid for 60 minutes after last change.\nif (msg.payload==\"u\") {  global.set(\"away\",global.get(\"away\")+1); }\nif (msg.payload==\"uu\") { global.set(\"away\",global.get(\"away\")+24); }\nif (msg.payload==\"a\") { global.set(\"away\",0);  }\nmsg.away=global.get(\"away\");\n\nif (global.get(\"away\")===0) msg.colour=\"#aaddff\"; else msg.colour=\"#aaffaa\";\n\nvar t=parseInt(msg.away);\nif (t>23) t=((t/24).toFixed(1))+\"d\"; else t=t+\"h\";\nmsg.away=t;\n  \nmsg.payload=\"\";\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":480,"wires":[["b4ad4205.e8e67","342f197d.b78166"]]},{"id":"1babf4a7.6e72cb","type":"ui_template","z":"2fbd0a9c.00e236","group":"49ec1688.bb5d58","name":"more","order":6,"width":"1","height":"1","format":"  <md-button  class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"send({payload: 'u'})\"> \n                <img style=\"outline : none;\" \n                             ng-src=\"{{(msg.payload)?'/myicons/png/48x48/actions/arrow-right-2.png':'/myicons/png/48x48/actions/arrow-right-2.png'}}\" \n                              height=\"36px\"\n                />\n</md-button> ","storeOutMessages":false,"fwdInMessages":false,"x":550,"y":500,"wires":[["62b759fb.da1158","41bc5126.424dc"]]},{"id":"e448713a.c5796","type":"ui_template","z":"2fbd0a9c.00e236","group":"49ec1688.bb5d58","name":"mmore","order":7,"width":"1","height":"1","format":"  <md-button  class=\"vibrate filled touched smallfont rounded greybuttons\" ng-click=\"send({payload: 'uu'})\"> \n                <img style=\"outline : none;\" \n                             ng-src=\"{{(msg.payload)?'/myicons/png/48x48/actions/arrow-left-double-2.png':'/myicons/png/48x48/actions/arrow-right-double-2.png'}}\" \n                              height=\"36px\"\n                />\n</md-button> ","storeOutMessages":false,"fwdInMessages":false,"x":560,"y":540,"wires":[["62b759fb.da1158","41bc5126.424dc"]]},{"id":"9adbceca.d58d6","type":"ui_template","z":"2fbd0a9c.00e236","group":"49ec1688.bb5d58","name":"newergauge","order":1,"width":"3","height":"3","format":"<script type=\"text/javascript\" src=\"/myjs/gauge.min.js\"></script>\n<script>\n\n\n   (function(scope){\n        scope.$watch('msg', function(msg) {\n           gauge.value=msg.value;\n           gauge.heat=msg.heatRelay;\n           gauge.humidity=msg.humidityRelay;\n           gauge.draw();\n        });\n    })(scope);\n    \nvar gauge = new RadialGauge({\n    renderTo: 'canvas-id',\n    width: 160,\n    height: 160,\n    heat: 0,\n    humidity: 0,\n    units: \"Degrees C\",\n    title: \"Heating\",\n    minValue: 10,\n    maxValue: 30,\n    majorTicks: [\n        '10',\n        '15',\n        '20',\n        '25',\n        '30'\n    ],\n    minorTicks: 5,\n    strokeTicks: true,\n   highlights  : [\n        { from : 10,  to : 15, color : '#8888ff' },\n        { from : 15, to : 20, color :  '#88ff88' },\n        { from : 20, to : 25, color :  '#ffff00' },\n        { from : 25, to : 30, color :  '#ff8888' }\n    ],\n\n    colorPlate: \"#fff\",\n    borderShadowWidth: 0,\n    borders: true,\n    needleType: \"arrow\",\n    valueInt: 2,\n    valueDec:0,\n    needleWidth: 2,\n    fontTitleSize: 42,\n    needleCircleSize: 14,\n    needleCircleOuter: true,\n    needleCircleInner: false,\n    animationDuration: 500,\n    animationRule: \"linear\"\n}).draw();\n\n\ngauge.on('beforeNeedle', function () {\n        // getting canvas 2d drawing context\n        var context = this.canvas.context;\n        // we can use gauge context special 'max' property which represents\n        // gauge radius in a real pixels and calculate size of relative pixel\n        // for our drawing needs\n        var pixel = context.max / 100;\n        // step out our circle center coordinate by 30% of its radius from\n        // gauge center\n        var centerX = 36 * pixel;\n        // stay in center by Y-coordinate\n        var centerY = 0;\n        // use circle radius equal to 5%\n        var radius = 10 * pixel;\n        // save previous context state\n        context.save();\n        \n        // draw circle using canvas JS API\n        context.beginPath();\n        context.arc(centerX, centerY, radius, 0, 2 * Math.PI, false);\n        context.fillStyle = (this.heat) ? '#ff0000' : '#8888';\n        context.fill();\n        context.closePath();\n\n        context.beginPath();\n        context.arc(centerX-(72 * pixel), centerY, radius, 0, 2 * Math.PI, false);\n        context.fillStyle = (this.humidity) ? '#00dd88' : '#888888';\n        context.fill();\n        context.closePath();\n        // restore previous context state to prevent break of\n        // further drawings        \n        \n        context.restore();\n       // context.draw();\n    });\n\ngauge.value = 18;\n\n\n</script>\n<canvas style=\"outline: none;\" ng-click=\"send({payload: ' '})\" id=\"canvas-id\">\n</canvas>","storeOutMessages":false,"fwdInMessages":false,"x":1050,"y":540,"wires":[["89d82d21.12eb6","4eb22d9e.a86c54"]]},{"id":"10814add.151335","type":"ui_template","z":"2fbd0a9c.00e236","group":"49ec1688.bb5d58","name":"SET","order":5,"width":"1","height":"1","format":"<script>\n   (function(scope){\n        scope.$watch('msg', function(msg) {\n             if (msg.desired!=\"\") $(\"#infor\").text(msg.desired+\"C\");\n             if (msg.colour!=\"\") $(\"#infor\").css(\"background-color\",msg.colour);\n        });\n \n    })(scope);\n</script>\n<table  ng-click=\"send({payload: 'a'})\" width=100% height=100% class=\"vibrate zui-table zui-table-rounded\">\n    <thead>\n        <tr>\n            <th>SET</th>\n        </tr>\n    </thead>\n    <tbody>\n        <tr >\n            <td id=\"infor\"></td>\n        </tr>\n\n    </tbody>\n</table>\n","storeOutMessages":false,"fwdInMessages":false,"x":1030,"y":580,"wires":[["b4ad4205.e8e67","41bc5126.424dc"]]},{"id":"342f197d.b78166","type":"ui_template","z":"2fbd0a9c.00e236","group":"49ec1688.bb5d58","name":"AWAY","order":8,"width":"1","height":"1","format":"<script>\n   (function(scope){\n        scope.$watch('msg', function(msg) {\n             if (msg.away!=\"\") $(\"#awaytable\").text(msg.away);\n             if (msg.colour!=\"\") $(\"#awaytable\").css(\"background-color\",msg.colour);\n        });\n \n    })(scope);\n</script>\n\n<table ng-click=\"send({payload: 'a'})\" width=100% height=100% class=\"vibrate zui-table zui-table-rounded\">\n    <thead>\n        <tr>\n            <th>AWAY</th>\n        </tr>\n    </thead>\n    <tbody>\n        <tr>\n            <td id=\"awaytable\"></td>\n    \n        </tr>\n\n    </tbody>\n</table>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1030,"y":620,"wires":[["62b759fb.da1158","41bc5126.424dc"]]},{"id":"128b8e6d.391392","type":"ui_template","z":"2fbd0a9c.00e236","group":"49ec1688.bb5d58","name":"STATUS","order":9,"width":"3","height":"1","format":"<script>\n   (function(scope){\n        scope.$watch('msg', function(msg) {\n             if (msg.topic!=\"\") $(\"#hdr1\").text(msg.topic);\n             if (msg.payload!=\"\") $(\"#bod1\").text(msg.payload);\n        });\n    })(scope);\n</script>\n\n<table ng-click=\"send({payload: 'a'})\" width=100% height=100% class=\"zui-table zui-table-rounded\">\n    <thead>\n        <tr>\n            <th id=\"hdr1\">></th>\n        </tr>\n    </thead>\n    <tbody>\n        <tr>\n            <td id=\"bod1\"></td>\n    \n        </tr>\n\n    </tbody>\n</table>","storeOutMessages":false,"fwdInMessages":false,"x":1040,"y":660,"wires":[[]]},{"id":"c1f5b3ce.e0796","type":"function","z":"2fbd0a9c.00e236","name":"show humidity","func":"function theNewDate()\n{\n   var d = new Date(),\n    minutes = d.getMinutes().toString().length == 1 ? '0'+d.getMinutes() : d.getMinutes();\n    hours = d.getHours().toString().length == 1 ? '0'+d.getHours() : d.getHours();\n    ampm = d.getHours() >= 12 ? 'pm' : 'am';\n    months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];\n    days = ['Sun','Mon','Tue','Wed','Thu','Fri','Sat'];\n    var m= days[d.getDay()]+' '+months[d.getMonth()]+' '+d.getDate()+' '+d.getFullYear()+' '+hours+':'+minutes+ampm;\n    return m;\n}\n\nmsg.topic=theNewDate();\nmsg.payload=\"Humidity: \" + global.get(\"incomingHumidity\") +\"%\" ;\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":540,"wires":[["128b8e6d.391392"]]},{"id":"41bc5126.424dc","type":"function","z":"2fbd0a9c.00e236","name":"Showing settings","func":"msg.payload=\"Showing settings\";\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":600,"wires":[["128b8e6d.391392"]]},{"id":"4eb22d9e.a86c54","type":"function","z":"2fbd0a9c.00e236","name":"Showing actual","func":"msg.payload=\"Showing actual\";\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":660,"wires":[["128b8e6d.391392"]]},{"id":"f9cbffed.913d8","type":"function","z":"2fbd0a9c.00e236","name":"Dehum relay","func":"if (msg.humidityRelay==1)\nnode.status({fill:\"red\",shape:\"dot\",text:\"Dehumidifier ON\"});\nelse\nnode.status({fill:\"black\",shape:\"dot\",text:\"Dehumidifier OFF\"});\n","outputs":"0","noerr":0,"x":1090,"y":320,"wires":[]},{"id":"2805013f.d10c8e","type":"inject","z":"2fbd0a9c.00e236","name":"incoming heat 27c","topic":"","payload":"27","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":80,"wires":[["6f15372d.b2b0f8"]]},{"id":"1c98f59b.902e4a","type":"inject","z":"2fbd0a9c.00e236","name":"incoming heat 18c","topic":"","payload":"18","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":120,"wires":[["6f15372d.b2b0f8"]]},{"id":"1f352058.32685","type":"trigger","z":"2fbd0a9c.00e236","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"1","extend":true,"units":"min","reset":"","name":"","x":1090,"y":200,"wires":[["355abad1.047f86","f9cbffed.913d8"]]},{"id":"1cd69a3f.d9c5a6","type":"function","z":"2fbd0a9c.00e236","name":"Heat test","func":"if (msg.heatRelay==1)\nnode.status({fill:\"red\",shape:\"dot\",text:\"Heat ON\"});\nelse\nnode.status({fill:\"black\",shape:\"dot\",text:\"Heat OFF\"});\n","outputs":"0","noerr":0,"x":1080,"y":380,"wires":[]},{"id":"ca3a8f93.e82d8","type":"function","z":"2fbd0a9c.00e236","name":"Dehum test","func":"if (msg.humidityRelay==1)\nnode.status({fill:\"red\",shape:\"dot\",text:\"Dehumidifier ON\"});\nelse\nnode.status({fill:\"black\",shape:\"dot\",text:\"Dehumidifier OFF\"});\n","outputs":"0","noerr":0,"x":1090,"y":440,"wires":[]},{"id":"72e16f48.a741d","type":"GSheet","z":"fae21b1.b95d4e8","creds":"adb4e9b8.8beee8","method":"append","action":"","sheet":"1ZKNZWvcBqLcxkkFSrV9JN-BAeXiGoGrDjepUyD-S5Cs","cells":"FlashTest!A2:A1000","name":"","x":410,"y":340,"wires":[[]]},{"id":"967c9e5d.b7c94","type":"calculator","z":"fae21b1.b95d4e8","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"sub","constant":"","x":880,"y":280,"wires":[["72e16f48.a741d"]]},{"id":"d4247c61.9fd9b","type":"join","z":"fae21b1.b95d4e8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":630,"y":280,"wires":[["7b68bc91.efacb4"]]},{"id":"483f1815.877748","type":"simpletime","z":"fae21b1.b95d4e8","name":"Time","x":330,"y":280,"wires":[["7be237d0.765908"]]},{"id":"7be237d0.765908","type":"change","z":"fae21b1.b95d4e8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"myepoch","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":280,"wires":[["d4247c61.9fd9b"]]},{"id":"7b68bc91.efacb4","type":"function","z":"fae21b1.b95d4e8","name":"","func":"var a = msg.payload\nmsg.payload = a.reverse()\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":280,"wires":[["967c9e5d.b7c94"]]},{"id":"643fcaca.0643c4","type":"mqtt out","z":"230e9a07.1833b6","name":"","topic":"Sample2/Sample/Sa","qos":"2","retain":"","broker":"a5bf81ee.27852","x":340,"y":100,"wires":[]},{"id":"abe63169.b6aad","type":"inject","z":"230e9a07.1833b6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":160,"wires":[["643fcaca.0643c4","5286a5a0.cc608c"]]},{"id":"8a7bca8b.ba3208","type":"debug","z":"230e9a07.1833b6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":140,"wires":[]},{"id":"f0f38fa2.ebd5c","type":"inject","z":"e085806.699538","name":"On","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":80,"wires":[["1b837a7b.b9d576"]]},{"id":"bb896f82.46a63","type":"hubitat command","z":"e085806.699538","name":"Mike Credenza Light On","server":"c114fe92.abb34","deviceId":"388","command":"on","commandArgs":"","x":670,"y":60,"wires":[[]]},{"id":"bebcf7eb.cda7b8","type":"hubitat command","z":"e085806.699538","name":"Mike Credenza Light Off","server":"c114fe92.abb34","deviceId":"388","command":"off","commandArgs":"","x":1070,"y":120,"wires":[[]]},{"id":"4ddc1692.853c78","type":"gate","z":"e085806.699538","name":"","controlTopic":"control","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","persist":false,"x":510,"y":640,"wires":[["1b837a7b.b9d576"]]},{"id":"d0bb9247.e559a","type":"inject","z":"e085806.699538","name":"","topic":"control","payload":"toggle","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":600,"wires":[["4ddc1692.853c78"]]},{"id":"cde56aa1.375c78","type":"inject","z":"e085806.699538","name":"Off","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":220,"wires":[["bebcf7eb.cda7b8","5b045a1.17088a4","9e770cce.19d3"]]},{"id":"eb0cafec.b9a67","type":"hubitat command","z":"e085806.699538","name":"Game Room Floor Lamp On","server":"c114fe92.abb34","deviceId":"357","command":"on","commandArgs":"","x":980,"y":40,"wires":[[]]},{"id":"1b837a7b.b9d576","type":"hubitat command","z":"e085806.699538","name":"Office Desk Lamp On","server":"c114fe92.abb34","deviceId":"550","command":"on","commandArgs":"","x":300,"y":260,"wires":[["b7d5d50b.4fa0b8","9e770cce.19d3"]]},{"id":"5b045a1.17088a4","type":"hubitat command","z":"e085806.699538","name":"Game Room Floor Lamp Off","server":"c114fe92.abb34","deviceId":"357","command":"off","commandArgs":"","x":1040,"y":180,"wires":[[]]},{"id":"9e770cce.19d3","type":"hubitat command","z":"e085806.699538","name":"Office Desk Lamp Off","server":"c114fe92.abb34","deviceId":"550","command":"off","commandArgs":"","x":920,"y":300,"wires":[["b7d5d50b.4fa0b8","4ddc1692.853c78"]]},{"id":"86e5f63a.beff28","type":"GSheet","z":"e085806.699538","creds":"adb4e9b8.8beee8","method":"update","action":"","sheet":"1ZKNZWvcBqLcxkkFSrV9JN-BAeXiGoGrDjepUyD-S5Cs","cells":"FlashTest!A2:A1000","name":"","x":650,"y":380,"wires":[[]]},{"id":"1e35380e.3167e8","type":"calculator","z":"e085806.699538","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"sub","constant":"","x":480,"y":380,"wires":[["86e5f63a.beff28"]]},{"id":"2c634f6a.3b371","type":"join","z":"e085806.699538","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":670,"y":340,"wires":[["100f0e0d.634d72"]]},{"id":"b7d5d50b.4fa0b8","type":"simpletime","z":"e085806.699538","name":"Time","x":370,"y":340,"wires":[["a1e37e75.09704"]]},{"id":"a1e37e75.09704","type":"change","z":"e085806.699538","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"myepoch","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":340,"wires":[["2c634f6a.3b371"]]},{"id":"100f0e0d.634d72","type":"function","z":"e085806.699538","name":"","func":"var a = msg.payload\nmsg.payload = a.reverse()\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":340,"wires":[["1e35380e.3167e8"]]},{"id":"9decac58.631cf","type":"calculator","z":"230e9a07.1833b6","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"sub","constant":"","x":760,"y":340,"wires":[["8a7bca8b.ba3208"]]},{"id":"1f653b25.ee5a05","type":"join","z":"230e9a07.1833b6","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":510,"y":340,"wires":[["a3a7cd8f.ea5df"]]},{"id":"5286a5a0.cc608c","type":"simpletime","z":"230e9a07.1833b6","name":"Time","x":210,"y":340,"wires":[["36e658f6.d4dac8"]]},{"id":"36e658f6.d4dac8","type":"change","z":"230e9a07.1833b6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"myepoch","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":340,"wires":[["1f653b25.ee5a05"]]},{"id":"a3a7cd8f.ea5df","type":"function","z":"230e9a07.1833b6","name":"","func":"var a = msg.payload\nmsg.payload = a.reverse()\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":340,"wires":[["9decac58.631cf"]]},{"id":"bc113852.e5be08","type":"mqtt in","z":"230e9a07.1833b6","name":"","topic":"#","qos":"2","datatype":"auto","broker":"a5bf81ee.27852","x":130,"y":420,"wires":[["5286a5a0.cc608c","8a7bca8b.ba3208"]]},{"id":"7563232.ba39fdc","type":"mqtt out","z":"6b70908d.81178","name":"homebridge/to/get","topic":"homebridge/to/get","qos":"2","retain":"","broker":"a5bf81ee.27852","x":650,"y":60,"wires":[]},{"id":"86c88e7b.98eae","type":"inject","z":"6b70908d.81178","name":"","topic":"homebridge/to/get","payload":"{\"name\":\"*\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":160,"wires":[["7563232.ba39fdc","672715ce.0cabbc"]]},{"id":"672715ce.0cabbc","type":"debug","z":"6b70908d.81178","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":600,"y":140,"wires":[]},{"id":"72a1ef27.2967","type":"mqtt in","z":"6b70908d.81178","name":"","topic":"#","qos":"2","datatype":"auto","broker":"a5bf81ee.27852","x":230,"y":420,"wires":[["672715ce.0cabbc"]]},{"id":"f1d16dc8.bd6a8","type":"mqtt out","z":"fe71a936.143488","name":"","topic":"homebridge/to/add","qos":"","retain":"","broker":"a5bf81ee.27852","x":550,"y":200,"wires":[]},{"id":"6f1cadd9.69c0b4","type":"inject","z":"fe71a936.143488","name":"add office_lamp","topic":"","payload":"{\"name\":\"office_lamp\",\"service\":\"Switch\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":240,"y":200,"wires":[["f1d16dc8.bd6a8"]]},{"id":"fc23b2c5.e057a","type":"mqtt out","z":"fe71a936.143488","name":"","topic":"homebridge/to/set","qos":"","retain":"","broker":"a5bf81ee.27852","x":550,"y":260,"wires":[]},{"id":"d8791c96.b41b3","type":"inject","z":"fe71a936.143488","name":"office_lamp on","topic":"","payload":"{\"name\":\"office_lamp\",\"characteristic\":\"On\",\"value\": true}","payloadType":"json","repeat":"","crontab":"","once":false,"x":240,"y":260,"wires":[["fc23b2c5.e057a"]]},{"id":"aebfa5e.57a0258","type":"inject","z":"fe71a936.143488","name":"office_lamp off","topic":"","payload":"{\"name\":\"office_lamp\",\"characteristic\":\"On\",\"value\": false}","payloadType":"json","repeat":"","crontab":"","once":false,"x":240,"y":300,"wires":[["fc23b2c5.e057a"]]},{"id":"aa051cf1.8521c","type":"mqtt in","z":"fe71a936.143488","name":"","topic":"homebridge/from/#","qos":"2","datatype":"auto","broker":"a5bf81ee.27852","x":230,"y":120,"wires":[["2c4327f.43542d8"]]},{"id":"97e23c6e.8132f","type":"debug","z":"fe71a936.143488","name":"","active":true,"console":"false","complete":"false","x":630,"y":120,"wires":[]},{"id":"2c4327f.43542d8","type":"json","z":"fe71a936.143488","name":"","property":"payload","action":"obj","pretty":false,"x":450,"y":120,"wires":[["97e23c6e.8132f"]]},{"id":"dee0a497.aedf78","type":"mqtt out","z":"fe71a936.143488","name":"","topic":"homebridge/to/get","qos":"","retain":"","broker":"a5bf81ee.27852","x":570,"y":400,"wires":[]},{"id":"6302337e.ea952c","type":"inject","z":"fe71a936.143488","name":"Get all","topic":"","payload":"{\"name\":\"*\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":210,"y":400,"wires":[["dee0a497.aedf78"]]},{"id":"d5bea4d0.e31cf8","type":"hb-event","z":"b4c51043.d4017","name":"Anyone","Homebridge":"Homebridge","Manufacturer":"Default-Manufacturer","Service":"Occupancy Sensor","device":"HomebridgeCC:22:3D:E3:CE:30Default-ManufacturerAnyone00000086","conf":"d417815c.8097e","x":510,"y":60,"wires":[[]]},{"id":"17968f43.3cf071","type":"hb-status","z":"b4c51043.d4017","name":"Eva Hallway Motion","Homebridge":"Homebridge","Manufacturer":"Nest","Service":"Motion Sensor","device":"HomebridgeCC:22:3D:E3:CE:30NestEva Hallway Motion00000085","conf":"d417815c.8097e","x":530,"y":220,"wires":[[]]},{"id":"39b6d5f8.03880a","type":"homekit-service","z":"b4c51043.d4017","isParent":true,"bridge":"3ce7ceed.69be02","parentService":"","name":"NR Test Thermo","serviceName":"Thermostat","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","x":580,"y":360,"wires":[[],[]]}]